extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		.page-top
			+breadcrumb(['Главная'], 'Курорт')
			.page-top__bg
				+picture('about-top','jpg')
				h1 Откройте для себя
					br
					| Горный Алтай
				p У подножия горы Малая Синюха, на высоте 423 метра над уровнем моря, вблизи теплого озера расположился курорт «Манжерок»
		.about-menu
			.about-menu-it
				.about-menu-it__bg
					+picture('about-top','jpg')
				.about-menu-it__icon
					<svg width="51" height="46" viewBox="0 0 51 46" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M30.07 44.4101L15.7172 26.468L1 44.5367" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M21.3594 33.5202L34.7429 18.0618L49.3948 35.5324" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M11.7675 16.539C14.5731 16.539 16.8476 14.2646 16.8476 11.4589C16.8476 8.65331 14.5731 6.37891 11.7675 6.37891C8.96191 6.37891 6.6875 8.65331 6.6875 11.4589C6.6875 14.2646 8.96191 16.539 11.7675 16.539Z" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M11.7734 0.999756V3.92706" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M5.04688 3.44751L6.92981 5.68923" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M1.46875 9.64282L4.35156 10.1518" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M2.71094 16.6892L5.24608 15.2249" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M8.1875 21.288L9.18876 18.5374" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M15.345 21.288L14.3438 18.5374" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M20.8242 16.6892L18.2891 15.2249" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M22.0703 9.64282L19.1875 10.1518" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.4909 3.44751L16.6094 5.68923" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M5.54688 38.9535L12.8033 35.2794L15.8669 39.4069L17.5509 35.1904L22.0691 38.4612L22.9689 35.5325" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M24.3281 30.444L31.5845 26.7685L34.6481 30.8973L36.3322 26.6809L40.8504 29.9503L41.7487 27.023" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>

				a(href="#").about-menu-it__link О курорте
			.about-menu-it
				.about-menu-it__bg
					+picture('about-top','jpg')
				.about-menu-it__icon
					<svg width="42" height="37" viewBox="0 0 42 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<mask id="path-1-inside-1_1482_16732" fill="white">
						<path d="M29.7699 14.24H41.5778V36.5437H0.90625V14.24H12.7141"/>
						</mask>
						<path d="M41.5778 14.24H42.9778V12.84H41.5778V14.24ZM41.5778 36.5437V37.9437H42.9778V36.5437H41.5778ZM0.90625 36.5437H-0.49375V37.9437H0.90625V36.5437ZM0.90625 14.24V12.84H-0.49375V14.24H0.90625ZM29.7699 15.64H41.5778V12.84H29.7699V15.64ZM40.1778 14.24V36.5437H42.9778V14.24H40.1778ZM41.5778 35.1437H0.90625V37.9437H41.5778V35.1437ZM2.30625 36.5437V14.24H-0.49375V36.5437H2.30625ZM0.90625 15.64H12.7141V12.84H0.90625V15.64Z" fill="#106AC6" mask="url(#path-1-inside-1_1482_16732)"/>
						<mask id="path-3-inside-2_1482_16732" fill="white">
						<path d="M39.6073 20.7998L34.3594 24.7358L39.6073 29.3277"/>
						</mask>
						<path d="M34.3594 24.7358L33.5194 23.6158L32.1377 24.652L33.4375 25.7894L34.3594 24.7358ZM38.7673 19.6798L33.5194 23.6158L35.1994 25.8558L40.4473 21.9198L38.7673 19.6798ZM33.4375 25.7894L38.6854 30.3813L40.5292 28.2741L35.2813 23.6821L33.4375 25.7894Z" fill="#106AC6" mask="url(#path-3-inside-2_1482_16732)"/>
						<mask id="path-5-inside-3_1482_16732" fill="white">
						<path d="M22.5547 34.5758L30.4266 28.6719L36.9865 34.5758"/>
						</mask>
						<path d="M30.4266 28.6719L31.3631 27.6313L30.5075 26.8612L29.5866 27.5519L30.4266 28.6719ZM23.3947 35.6958L31.2666 29.7919L29.5866 27.5519L21.7147 33.4558L23.3947 35.6958ZM29.49 29.7125L36.05 35.6164L37.9231 33.5352L31.3631 27.6313L29.49 29.7125Z" fill="#106AC6" mask="url(#path-5-inside-3_1482_16732)"/>
						<path d="M21.2391 22.7773C20.4109 19.7868 18.8055 17.6824 17.3629 15.7917C17.2434 15.635 17.125 15.4799 17.0083 15.3258C15.3766 13.1719 14.0672 11.2351 14.0672 8.33577C14.0672 4.36038 17.2941 1.16387 21.2391 1.16387C25.184 1.16387 28.411 4.36038 28.411 8.33577C28.411 11.2351 27.1016 13.1719 25.4699 15.3258C25.3531 15.4799 25.2348 15.635 25.1153 15.7917C23.6727 17.6824 22.0672 19.7868 21.2391 22.7773ZM21.3961 23.3964L21.3593 23.405L21.3607 23.4056C21.3609 23.4057 21.3611 23.4058 21.3613 23.4059C21.3907 23.4199 21.4064 23.4346 21.4116 23.4401C21.4131 23.4416 21.4138 23.4424 21.4138 23.4423C21.414 23.4422 21.4034 23.4278 21.3961 23.3964Z" stroke="#106AC6" stroke-width="1.4"/>
						<path d="M23.1651 8.33588C23.1651 9.39846 22.3037 10.2599 21.2412 10.2599C20.1786 10.2599 19.3172 9.39846 19.3172 8.33588C19.3172 7.2733 20.1786 6.41191 21.2412 6.41191C22.3037 6.41191 23.1651 7.2733 23.1651 8.33588Z" stroke="#106AC6" stroke-width="1.4"/>
						<mask id="path-9-inside-4_1482_16732" fill="white">
						<path d="M36.9881 16.2078L19.2763 29.9836L6.8125 16.2078"/>
						</mask>
						<path d="M19.2763 29.9836L18.2382 30.9229L19.1101 31.8865L20.1359 31.0887L19.2763 29.9836ZM36.1286 15.1027L18.4168 28.8785L20.1359 31.0887L37.8476 17.3129L36.1286 15.1027ZM20.3145 29.0443L7.85065 15.2685L5.77435 17.147L18.2382 30.9229L20.3145 29.0443Z" fill="#106AC6" mask="url(#path-9-inside-4_1482_16732)"/>
						<mask id="path-11-inside-5_1482_16732" fill="white">
						<path d="M13.3711 34.5753L15.3391 33.2633L10.7472 28.0154L3.53125 33.9193"/>
						</mask>
						<path d="M15.3391 33.2633L16.1157 34.4282L17.4439 33.5427L16.3927 32.3414L15.3391 33.2633ZM10.7472 28.0154L11.8008 27.0935L10.9089 26.0742L9.86063 26.9318L10.7472 28.0154ZM14.1477 35.7402L16.1157 34.4282L14.5625 32.0984L12.5945 33.4104L14.1477 35.7402ZM16.3927 32.3414L11.8008 27.0935L9.69355 28.9373L14.2855 34.1852L16.3927 32.3414ZM9.86063 26.9318L2.64472 32.8358L4.41778 35.0028L11.6337 29.0989L9.86063 26.9318Z" fill="#106AC6" mask="url(#path-11-inside-5_1482_16732)"/>
						<mask id="path-13-inside-6_1482_16732" fill="white">
						<path d="M2.875 18.8318L8.12294 24.7357L2.875 28.6717"/>
						</mask>
						<path d="M8.12294 24.7357L8.96294 25.8557L10.1802 24.9428L9.16931 23.8056L8.12294 24.7357ZM1.82863 19.7619L7.07656 25.6658L9.16931 23.8056L3.92137 17.9017L1.82863 19.7619ZM7.28294 23.6157L2.035 27.5517L3.715 29.7917L8.96294 25.8557L7.28294 23.6157Z" fill="#106AC6" mask="url(#path-13-inside-6_1482_16732)"/>
					</svg>

				a(href="#").about-menu-it__link Карта курорта
			.about-menu-it
				.about-menu-it__bg
					+picture('about-top','jpg')
				.about-menu-it__icon
					<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_2921_20696)">
						<path d="M18.3218 33.1489L17.4146 25.2979L11.3431 21.8085V13.0851C11.3431 11.4451 10.2352 11.227 8.76096 10.4681C7.34777 9.74405 5.9433 9.59575 4.4167 10.4681C2.89011 11.3404 1.8084 12.2128 1.8084 12.2128C1.21521 12.71 0.875 13.53 0.875 14.3151V20.0638M5.2367 13.0851V21.2851C5.2367 22.707 5.65543 24.2249 7.12968 24.8617L13.9427 27.4875L14.7888 33.1577" stroke="#106AC6" stroke-width="1.4"/>
						<path d="M4.42969 38.383L9.34969 25.6992" stroke="#106AC6" stroke-width="1.4"/>
						<path d="M5.88276 23.7363L0.945312 38.3829" stroke="#106AC6" stroke-width="1.4"/>
						<path d="M10.5362 7.85104C12.4634 7.85104 14.0256 6.2888 14.0256 4.36168C14.0256 2.43455 12.4634 0.872314 10.5362 0.872314C8.60912 0.872314 7.04688 2.43455 7.04688 4.36168C7.04688 6.2888 8.60912 7.85104 10.5362 7.85104Z" stroke="#106AC6" stroke-width="1.4"/>
						<path d="M11.4141 16.6094L16.5783 19.4619" stroke="#106AC6" stroke-width="1.4"/>
						<path d="M13.0859 40.1276V35.7659H22.6817V27.0425H31.4051V18.3191H40.1285" stroke="#106AC6" stroke-width="1.4"/>
						</g>
						<defs>
						<clipPath id="clip0_2921_20696">
						<rect width="41" height="41" fill="white"/>
						</clipPath>
						</defs>
					</svg>

				a(href="#").about-menu-it__link центр компетенций
			.about-menu-it
				.about-menu-it__bg
					+picture('about-top','jpg')
				.about-menu-it__icon
					<svg width="46" height="36" viewBox="0 0 46 36" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M38.9252 1.02197H7.53125V25.5485H38.9252V1.02197Z" stroke="#106AC6" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M35.9815 21.6241L28.1331 13.7756L21.2656 20.6431" stroke="#106AC6" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M24.2102 17.6999L20.286 13.7756L12.4375 21.6241" stroke="#106AC6" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M15.3807 11.8134C17.0062 11.8134 18.3239 10.4957 18.3239 8.87018C18.3239 7.24471 17.0062 5.927 15.3807 5.927C13.7552 5.927 12.4375 7.24471 12.4375 8.87018C12.4375 10.4957 13.7552 11.8134 15.3807 11.8134Z" stroke="#106AC6" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M11.2618 28.0783L11.0938 29.4824L42.2657 33.2129L45.1795 8.85927L41.801 8.45581" stroke="#106AC6" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M4.74113 10.3245L1.35156 10.7071L4.10099 35.0791L17.2656 33.5928" stroke="#106AC6" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>

				a(href="#").about-menu-it__link Галерея
			.about-menu-it
				.about-menu-it__bg
					+picture('about-top','jpg')
				.about-menu-it__icon
					<svg width="26" height="44" viewBox="0 0 26 44" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M10.1158 1.34766H9.29283C8.00496 1.34766 6.96094 2.39168 6.96094 3.67955V5.41703C6.96094 6.7049 8.00496 7.74893 9.29283 7.74893H10.1158C11.4037 7.74893 12.4477 6.7049 12.4477 5.41703V3.67955C12.4477 2.39168 11.4037 1.34766 10.1158 1.34766Z" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M5.13281 43.4133V15.9792" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M17.937 25.1239V15.5403C17.937 12.3762 15.1204 10.4924 11.6546 10.4924H7.75895C4.29312 10.4924 1.47656 12.3762 1.47656 15.5311V26.0932C1.47656 27.0717 2.34531 27.8673 3.42438 27.8673H5.13443" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M14.2812 15.9792V25.1239" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M24.3346 26.9529H9.70312V36.0976H24.3346V26.9529Z" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M9.70312 32.4578H24.3346" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M16.1094 29.696H17.9383" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
					</svg>

				a(href="#").about-menu-it__link Карьера
			.about-menu-it
				.about-menu-it__bg
					+picture('about-top','jpg')
				.about-menu-it__icon
					<svg width="38" height="37" viewBox="0 0 38 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.3672 19.9388V13.3252C11.3672 10.6299 13.7665 9.03296 16.7189 9.03296H20.0374C22.9975 9.03296 25.389 10.6377 25.389 13.333V19.9388" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M18.7266 1.24316H18.0255C16.9284 1.24316 16.0391 2.13252 16.0391 3.22959V4.70967C16.0391 5.80674 16.9284 6.6961 18.0255 6.6961H18.7266C19.8237 6.6961 20.713 5.80674 20.713 4.70967V3.22959C20.713 2.13252 19.8237 1.24316 18.7266 1.24316Z" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M14.4844 19.939V13.707" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M22.2734 13.707V19.939" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M9.03125 25.3919V19.939H27.727V25.3919" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M12.1484 25.3919V23.0549H24.6123V25.3919" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M5.53125 31.4367C5.59357 31.4367 5.65589 31.429 5.71821 31.429C8.12529 31.429 10.0806 33.244 10.1896 35.5187" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M10.2031 35.5187C10.3044 33.3063 12.1584 31.538 14.4642 31.4367H14.4876C14.5499 31.4367 14.6122 31.429 14.6745 31.429C17.0816 31.429 19.0369 33.244 19.1459 35.5187" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M19.1641 35.5187C19.2653 33.3063 21.1193 31.538 23.4251 31.4367H23.4485C23.5108 31.4367 23.5731 31.429 23.6355 31.429C26.0425 31.429 27.9978 33.244 28.1069 35.5187" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M32.3939 31.4365C30.0881 31.5378 28.2341 33.3061 28.1328 35.5184" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M5.53123 31.4367C5.53123 31.3744 5.52344 31.3043 5.52344 31.2419C5.52344 28.8738 7.52544 26.9497 10.0026 26.9497C12.4798 26.9497 14.4818 28.866 14.4818 31.2419" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M14.4844 31.2419C14.4844 28.8738 16.4864 26.9497 18.9636 26.9497C21.4408 26.9497 23.4428 28.866 23.4428 31.2419" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M23.4375 31.2419C23.4375 28.8738 25.4395 26.9497 27.9167 26.9497C30.3939 26.9497 32.3959 28.866 32.3959 31.2419C32.3959 31.3121 32.3959 31.3744 32.3881 31.4367" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M1.24219 35.7132C1.24219 33.4074 3.15071 31.53 5.53443 31.4365" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M37.0724 35.7136C37.0724 33.3455 35.0704 31.4214 32.5932 31.4214C32.5231 31.4214 32.4529 31.4214 32.3906 31.4292" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
						<path d="M0.460938 36.2976H37.8525" stroke="#106AC6" stroke-width="1.4" stroke-miterlimit="10"/>
					</svg>

				a(href="#").about-menu-it__link Партнерам
			.about-menu-it
				.about-menu-it__bg
					+picture('about-top','jpg')
				.about-menu-it__icon
					<svg width="38" height="43" viewBox="0 0 38 43" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.8172 20.7615L1.63485 26.3616C1.16058 27.7625 1.11501 29.2765 1.5032 30.7061L4.61722 39.1013V41.633" stroke="#106AC6" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.9642 33.1954C18.9642 33.1954 36.6863 25.5597 36.6863 12.0944C36.6863 4.94479 32.2507 1.12695 27.0877 1.12695C21.9247 1.12695 18.9642 6.47226 18.9642 6.47226C18.9642 6.47226 16.0089 1.12695 10.8408 1.12695C5.6727 1.12695 1.24219 4.94479 1.24219 12.0944C1.24219 25.5597 18.9642 33.1954 18.9642 33.1954Z" stroke="#106AC6" stroke-width="1.4" stroke-linejoin="round"/>
						<path d="M8.83594 29.8196C9.62415 29.4584 10.3415 28.8018 10.4512 27.8111L11.2782 20.059C11.3322 18.9653 12.2133 18.0083 13.4555 18.0049C14.2049 18.0032 14.9256 18.4285 15.2918 19.0817C15.4674 19.394 15.5872 19.7265 15.5872 20.037V31.5901C15.5872 35.7269 13.8994 39.1026 13.8994 39.1026V41.6343" fill="white"/>
						<path d="M8.83594 29.8196C9.62415 29.4584 10.3415 28.8018 10.4512 27.8111L11.2782 20.059C11.3322 18.9653 12.2133 18.0083 13.4555 18.0049C14.2049 18.0032 14.9256 18.4285 15.2918 19.0817C15.4674 19.394 15.5872 19.7265 15.5872 20.037V31.5901C15.5872 35.7269 13.8994 39.1026 13.8994 39.1026V41.6343" stroke="#106AC6" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M34.1125 20.7615L36.2949 26.3616C36.7691 27.7625 36.8147 29.2765 36.4265 30.7061L33.3125 39.1013V41.633" stroke="#106AC6" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M29.0872 29.8196C28.299 29.4584 27.5817 28.8018 27.472 27.8111L26.6449 20.059C26.5909 18.9653 25.7099 18.0083 24.4676 18.0049C23.7183 18.0032 22.9976 18.4285 22.6313 19.0817C22.4558 19.394 22.3359 19.7265 22.3359 20.037V31.5901C22.3359 35.7269 24.0238 39.1026 24.0238 39.1026V41.6343" fill="white"/>
						<path d="M29.0872 29.8196C28.299 29.4584 27.5817 28.8018 27.472 27.8111L26.6449 20.059C26.5909 18.9653 25.7099 18.0083 24.4676 18.0049C23.7183 18.0032 22.9976 18.4285 22.6313 19.0817C22.4558 19.394 22.3359 19.7265 22.3359 20.037V31.5901C22.3359 35.7269 24.0238 39.1026 24.0238 39.1026V41.6343" stroke="#106AC6" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				a(href="#").about-menu-it__link Манжерок «Добро»
		.about-two.block
			.about-two-it
				.about-two-it__img
					+picture('about-1','jpg')
				p «Манжерок» круглый год гостеприимно принимает каждого, кто хочет познакомиться с&nbsp;удивительной атмосферой и захватывающей дух природой горного Алтая
				a.arrow-link(href="#") Развлечение
			.about-two-it
				.about-two-it__img
					+picture('about-2','jpg')
				p Единственное место с европейским уровнем сервиса во всей республике Алтай. Здесь есть всё для полноценного семейного отдыха, романтической поездки или уединенного духовного путешествия
				a.arrow-link(href="#") Проживание
		.about-inf-block.block
			h2 Инфоаструктура
			.about-inf-grid 
				.about-inf
					.about-inf__bg
						+picture('about-i-1','jpg')
					.about-inf__title Виллы
					a(href="#").about-inf__link
				.about-inf
					.about-inf__bg
						+picture('about-i-2','jpg')
					.about-inf__title Отель 3
					.about-inf__stars
						img(src="img/star.svg", alt="")
						img(src="img/star.svg", alt="")
						img(src="img/star.svg", alt="")
					a(href="#").about-inf__link
				.about-inf
					.about-inf__bg
						+picture('about-i-3','jpg')
					.about-inf__title Отель 5
					.about-inf__stars
						img(src="img/star.svg", alt="")
						img(src="img/star.svg", alt="")
						img(src="img/star.svg", alt="")
						img(src="img/star.svg", alt="")
						img(src="img/star.svg", alt="")
					a(href="#").about-inf__link
				.about-inf
					.about-inf__bg
						+picture('about-i-4','jpg')
					.about-inf__title Глэмпинг
					a(href="#").about-inf__link
				.about-inf
					.about-inf__bg
						+picture('about-i-5','jpg')
					.about-inf__title Рестораны
					a(href="#").about-inf__link
				.about-inf
					.about-inf__bg
						+picture('about-i-6','jpg')
					.about-inf__title Горные лыжи
					a(href="#").about-inf__link
				.about-inf
					.about-inf__bg
						+picture('about-i-7','jpg')
					.about-inf__title
					.about-inf__stars
					a(href="#").about-inf__link
		.block.monuments
			.h1 Уникальные памятники природы
			.monuments__filters
				.monuments__filter 1 км — 20 км
				.monuments__filter 21 км — 40 км
				.monuments__filter 41 км +
			.monuments__grid
				.monument
					.monument__img-wrap 
						+picture('about-m-1','jpg')
						.monument__plus
					.monument__title Река КАТУНЬ
					.monument__desc 4 км от «Манжерока»
				.monument
					.monument__img-wrap 
						+picture('about-m-2','jpg')
						.monument__plus
					.monument__title Эко-парк «Сад пионов» 
					.monument__desc 44 км от «Манжерока»
				.monument
					.monument__img-wrap 
						+picture('about-m-3','jpg')
						.monument__plus
					.monument__title Каракольские озера
					.monument__desc 81 км от «Манжерока»
				.monument
					.monument__img-wrap 
						+picture('about-m-4','jpg')
						.monument__plus
					.monument__title Тавдинские пещеры
					.monument__desc 9 км от «Манжерока»
				.monument
					.monument__img-wrap 
						+picture('about-m-5','jpg')
						.monument__plus
					.monument__title Горно-алтайский
						br
						| ботанический сад
						br
						| «Чистый луг» 
					.monument__desc 33 км от «Манжерока»
				.monument
					.monument__img-wrap 
						+picture('about-m-6','jpg')
						.monument__plus
					.monument__title Камышлинский водопад
					.monument__desc 23 км от «Манжерока»
				.monument
					.monument__img-wrap 
						+picture('about-m-7','jpg')
						.monument__plus
					.monument__title Храм Апостола
						br
						| Иоанна Богослова
						br
						| на острове Патмос
					.monument__desc 49 км от «Манжерока»
				.monument
					.monument__img-wrap 
						+picture('about-m-8','jpg')
						.monument__plus
					.monument__title Чергинский зубрятник
					.monument__desc 31 км от «Манжерока»
				.monument
					.monument__img-wrap 
						+picture('about-m-9','jpg')
						.monument__plus
					.monument__title Че-Чкыш «Долина горных духов»
					.monument__desc 81 км от «Манжерока»
		.block.about-info
			.about-info__row
				.about-info-it
					.about-info-it__icon
						img(src="img/ai-i-1.svg", alt="")
					.about-info-it__title 1 200 000
					.about-info-it__desc гостей в год
					img(src="img/ai-b-1.svg", alt="").about-info-it__bg
				.about-info-it
					.about-info-it__icon
						img(src="img/ai-i-2.svg", alt="")
					.about-info-it__title 2 516
					.about-info-it__desc восьмиместная
						br
						| гондольная
						br
						| канатная дорога 
					img(src="img/ai-b-2.svg", alt="").about-info-it__bg
				.about-info-it
					.about-info-it__icon
						img(src="img/ai-i-3.svg", alt="")
					.about-info-it__title 52
						span км
					.about-info-it__desc длина
						br
						|горнолыжных
						br
						|трасс
					img(src="img/ai-b-3.svg", alt="").about-info-it__bg
				.about-info-it
					.about-info-it__icon
						img(src="img/ai-i-4.svg", alt="")
					.about-info-it__title 30
						span км
					.about-info-it__desc длина трасс
						br
						| байк-парка
					img(src="img/ai-b-4.svg", alt="").about-info-it__bg
				.about-info-it
					.about-info-it__icon
						img(src="img/ai-i-5.svg", alt="")
					.about-info-it__title 304
					.about-info-it__desc номера в отеле
						br
						| 5 звезд
						img(src="img/ai-b-5.svg", alt="").about-info-it__bg
		.about-reasons.block 
			h2  «Манжерок»: 5 главных причин
			.about-reasons__grid
				.about-reason
					.about-reason__bg
						+picture('about-r-1','jpg')
					.about-reason__number 01
					.about-reason__title  ЧИСТАЯ ПРИРОДА
					.about-reason__desc
						p Горный Алтай — уникальный регион, где природа сохранила свою первозданность
				.about-reason
					.about-reason__bg
						+picture('about-r-2','jpg')
					.about-reason__number 02
					.about-reason__title ДУХОВНОЕ МЕСТО
					.about-reason__desc 
						p Местные народы берегут свои обычаи и традиции, пропитанные уважительным отношением к природе
				.about-reason
					.about-reason__bg
						+picture('about-r-3','jpg')
					.about-reason__number 03
					.about-reason__title ЭСТЕТИЧЕСКИЙ РАЙ
					.about-reason__desc
						p Гостиничный комплекс разработан дизайнерским бюро с учетом всех мировых тенденций
				.about-reason
					.about-reason__bg
						+picture('about-r-4','jpg')
					.about-reason__number 04
					.about-reason__title СПОРТИВНЫЙ УКЛОН 
					.about-reason__desc
						p Здесь проходят сборы у ведущих спортсменов России и созданы все условия для активного отдыха на высоте
				.about-reason
					.about-reason__bg
						+picture('about-r-5','jpg')
					.about-reason__number 05
					.about-reason__title  БЕСКОНЕЧНОЕ РАЗВИТИЕ
					.about-reason__desc Главная миссия проекта — развитие туристического потенциала Горного Алтая без вреда для аутентичной культуры региона
		.about-reviews.block 
			.block__head._p-h
				a.h2.link-chevron(href="#") Отзывы наших гостей 
				.block__slider-nav.mob-hidden
					button.block__slider-prev
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.3077 25.6154L0.999999 13.3077M0.999999 13.3077L13.3077 1M0.999999 13.3077H41" stroke="#B2C2D3" stroke-width="1.4"/>
						</svg>

					button.block__slider-next
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M27.6923 25.6154L40 13.3077M40 13.3077L27.6923 1M40 13.3077H0" stroke="#106AC6" stroke-width="1.4"/>
						</svg>
			.swiper.reviews-slider
				.swiper-wrapepr 
					.review-slide.swiper-slide 
						.review
							.review__autor Мартин алексеевич
							.review__stars(data-raiting='3')
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
							.review__body 
								p Были здесь на майские праздники проездом. Территория комплекса большая и чистая с ландшафтным дизайном.
								p Кроме зданий гостинницы на территории есть торговые павильноны с сувенирами, кафешки на любой вкус и кошелек. Но мы собственно хотели прокатиться на подъемниках.
					.review-slide.swiper-slide 
						.review
							.review__autor Эдуарт ПанкРатович
							.review__stars(data-raiting='5')
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
							.review__body 
								p Превосходят ожидания! Всё на высоте: быстрое заселение, бесплатная удобная парковка, закрытая территория, современный номер. Удобная посадка и идеальная подготовка трассы, безопасность!! Заметил, что примерно каждый 3-4 спуск встречал спасателя, который осматривает трассу. Отличный прокат, отличный ресторан, лобби. Все очень понравилось! Были на 23 февраля, снега было вполне достаточно и пушки работали. 
					.review-slide.swiper-slide 
						.review
							.review__autor София егорьевна
							.review__stars(data-raiting='4')
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
							.review__body 
								p Превосходно. Отдыхали семьей, месторасположение, конечно, лучше не придумаешь! Подъёмник в 5 минутах ходьбы, утром людей на горе мало, но в обед, конечно, яблоку негде упасть, особенно на Зелёной трассе. Сейчас новый комплекс рядом строят, но у нас окна были на гору . Кухня зачёт!! на завтраках находили всё, что едим, а вечером ужинали в ресторане Горный. Всё вкусно, свежо, средний чек 4000-5000 руб. на семью из трех человек..
								button.review__all Читать весь отзыв
					.review-slide.swiper-slide 
						.review
							.review__autor Ева Сергеевна
							.review__stars(data-raiting='4')
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
							.review__body 
								p В номерах чисто и очень тепло. Всё очень понравилось! Спасибо, приедем ещё!
								
					.review-slide.swiper-slide 
						.review
							.review__autor Мартин алексеевич
							.review__stars(data-raiting='3')
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
							.review__body 
								p Были здесь на майские праздники проездом. Территория комплекса большая и чистая с ландшафтным дизайном.
								p Кроме зданий гостинницы на территории есть торговые павильноны с сувенирами, кафешки на любой вкус и кошелек. Но мы собственно хотели прокатиться на подъемниках.
					.review-slide.swiper-slide 
						.review
							.review__autor Эдуарт ПанкРатович
							.review__stars(data-raiting='5')
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
							.review__body 
								p Превосходят ожидания! Всё на высоте: быстрое заселение, бесплатная удобная парковка, закрытая территория, современный номер. Удобная посадка и идеальная подготовка трассы, безопасность!! Заметил, что примерно каждый 3-4 спуск встречал спасателя, который осматривает трассу. Отличный прокат, отличный ресторан, лобби. Все очень понравилось! Были на 23 февраля, снега было вполне достаточно и пушки работали. 
					.review-slide.swiper-slide 
						.review
							.review__autor София егорьевна
							.review__stars(data-raiting='4')
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
							.review__body 
								p Превосходно. Отдыхали семьей, месторасположение, конечно, лучше не придумаешь! Подъёмник в 5 минутах ходьбы, утром людей на горе мало, но в обед, конечно, яблоку негде упасть, особенно на Зелёной трассе. Сейчас новый комплекс рядом строят, но у нас окна были на гору . Кухня зачёт!! на завтраках находили всё, что едим, а вечером ужинали в ресторане Горный. Всё вкусно, свежо, средний чек 4000-5000 руб. на семью из трех человек..
								button.review__all Читать весь отзыв
					.review-slide.swiper-slide 
						.review
							.review__autor Ева Сергеевна
							.review__stars(data-raiting='4')
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.01001 0L9.03724 4.21375L13.6769 4.83688L10.2901 8.06425L11.1304 12.6631L7.01001 10.444L2.88963 12.6631L3.72989 8.06425L0.343094 4.83688L4.98279 4.21375L7.01001 0Z" />
								</svg>
							.review__body 
								p В номерах чисто и очень тепло. Всё очень понравилось! Спасибо, приедем ещё!
		.about-contact.block 
			.block__head._p-h
				a.h2.link-chevron(href="#") Как добраться
			.about-contact__wrap 
				.about-contact__row 
					.about-contact__info
						h3 Курорт находится в 20 мин. езды от&nbsp;аэропорта г. Горно-Алтайска.
						.about-contact__faqs
							.about-contact__faq
								.about-contact__faq-title Заказать трансфер курорта
								.about-contact__faq-body
									p Заполните форму на сайте или воспользуйтесь услугами консьерж-сервиса, позвонив по телефону 8 913 992 88 88. После оформления заявки, с вами свяжется менеджер для уточнения информации и подтверждения заказа
							.about-contact__faq
								.about-contact__faq-title На автомобиле
								.about-contact__faq-body
									p Заполните форму на сайте или воспользуйтесь услугами консьерж-сервиса, позвонив по телефону 8 913 992 88 88. После оформления заявки, с вами свяжется менеджер для уточнения информации и подтверждения заказа
							.about-contact__faq
								.about-contact__faq-title На общественном транспорте
								.about-contact__faq-body
									p Рейсовые автобусы из Бийска и Горно-Алтайска по направлению на Чемал,
										br
										| Мульту и другие до станции Манжерок. 
										b Время в пути 
										| около 20-40 минут
							.about-contact__faq
								.about-contact__faq-title На самолете
								.about-contact__faq-body
									p Заполните форму на сайте или воспользуйтесь услугами консьерж-сервиса, позвонив по телефону 8 913 992 88 88. После оформления заявки, с вами свяжется менеджер для уточнения информации и подтверждения заказа
						.about-contact__book 
							.about-contact__book-title Бронирование номеров:
							.about-contact__book-row 
								a(href="tel:89139928888") 8 913 992 88 88
								a(href="mailto:booking@mglk.ru") booking@mglk.ru
					.about-contact__map