extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		.mblock.page-top
			+breadcrumb(['Главная','Пресс-центр'], 'День Рождения в Манжероке')
			.page-top__bg._br
				+picture('prd','jpg')
			.page-top__label АКЦИЯ
			.page-top__row
				.page-top__left
					h1 День Рождения в Манжероке
				.page-top__socs
					span  Поделиться
					.page-top__socs-list
						a(href="#")
							<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733a4.67 4.67 0 0 0 2.049-2.578 9.3 9.3 0 0 1-2.959 1.13 4.66 4.66 0 0 0-7.938 4.25A13.23 13.23 0 0 1 2.52 3.604a4.66 4.66 0 0 0 1.442 6.22 4.647 4.647 0 0 1-2.11-.583v.06a4.66 4.66 0 0 0 3.737 4.568 4.693 4.693 0 0 1-2.105.08 4.661 4.661 0 0 0 4.353 3.234 9.348 9.348 0 0 1-5.787 1.995 9.5 9.5 0 0 1-1.111-.065 13.175 13.175 0 0 0 7.14 2.093c8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602a9.47 9.47 0 0 0 2.323-2.41l.002-.003Z" fill="#fff"/></svg>
						a(href="#")
							<svg width="24" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.45.948c.166-.546 0-.948-.795-.948H20.03c-.668 0-.976.347-1.143.73 0 0-1.335 3.196-3.226 5.272-.612.602-.89.793-1.224.793-.167 0-.418-.191-.418-.738V.948c0-.656-.184-.948-.74-.948H9.151c-.417 0-.668.304-.668.593 0 .621.946.765 1.043 2.513v3.798c0 .833-.153.984-.487.984-.89 0-3.055-3.211-4.34-6.885C4.45.288 4.198 0 3.527 0H.9C.15 0 0 .347 0 .73c0 .682.89 4.07 4.145 8.551C6.315 12.341 9.37 14 12.153 14c1.669 0 1.875-.368 1.875-1.003v-2.313c0-.737.158-.884.687-.884.39 0 1.057.192 2.615 1.667C19.11 13.216 19.403 14 20.405 14h2.625c.75 0 1.126-.368.91-1.096-.238-.724-1.088-1.775-2.215-3.022-.612-.71-1.53-1.475-1.809-1.858-.389-.491-.278-.71 0-1.147 0 0 3.2-4.426 3.533-5.929h.001Z" fill="#fff"/></svg>
						a(href="#")
							<svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path fill-rule="evenodd" clip-rule="evenodd" d="M22 11c0 6.075-4.925 11-11 11S0 17.075 0 11 4.925 0 11 0s11 4.925 11 11ZM11.394 8.12c-1.07.445-3.208 1.367-6.415 2.764-.52.207-.793.41-.818.607-.042.336.377.468.948.647l.24.077c.563.182 1.318.396 1.71.404.357.007.755-.14 1.194-.44 2.995-2.023 4.542-3.045 4.639-3.067.069-.016.164-.036.228.022.064.056.058.165.052.194-.043.177-1.687 1.707-2.54 2.499-.265.246-.453.421-.492.462-.086.089-.174.174-.258.256-.523.502-.913.88.022 1.496.449.296.808.54 1.167.784.391.267.781.533 1.287.865.129.084.252.171.372.256.455.326.865.617 1.371.571.293-.027.598-.303.752-1.127.364-1.949 1.08-6.17 1.246-7.91.01-.144.004-.289-.018-.432a.464.464 0 0 0-.158-.298c-.13-.107-.334-.13-.426-.128-.413.007-1.048.228-4.103 1.499Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h22v22H0z"/></clipPath></defs></svg>
						a(href="#")
							<svg width="15" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="M7.242 0A6.46 6.46 0 0 0 .788 6.452a6.459 6.459 0 0 0 6.454 6.451 6.457 6.457 0 0 0 6.451-6.45A6.459 6.459 0 0 0 7.242 0Zm0 3.78c1.472 0 2.67 1.2 2.67 2.672a2.673 2.673 0 0 1-2.67 2.67 2.674 2.674 0 0 1-2.672-2.67A2.675 2.675 0 0 1 7.242 3.78Zm-5.32 9.343a1.891 1.891 0 0 0-1.038 3.492 12.106 12.106 0 0 0 3.745 1.55l-3.606 3.608a1.89 1.89 0 1 0 2.674 2.673l3.543-3.544 3.546 3.544a1.89 1.89 0 1 0 2.673-2.673L9.85 18.166a12.09 12.09 0 0 0 3.746-1.551 1.89 1.89 0 1 0-2.013-3.2 8.194 8.194 0 0 1-8.687 0 1.881 1.881 0 0 0-.976-.292Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h14.482v25H0z"/></clipPath></defs></svg>
		.mblock._br._p 
			.text 
				h2 Празднуйте свой День Рождения на Всесезонном курорте «Манжерок» и получайте скидку 10% на проживание в отеле и скидку 10% на счет в ресторане «Горный».
				p 
					big  Скидкой на проживание можно воспользоваться в День Рождения 
						br
						| и в период 3 дня до и 3 дня после Дня Рождения!
				.quote 
					p
						big Проведите свой особенный день в самом сердце гор
							br
							| на Всесезонном курорте «Манжерок»!
					.book-block 
						.h6 БРОНИРОВАНИЕ И ВОПРОСЫ:
						.book-block__row
							a(href="tel:89139928888") 8 913 992 88 88
							a(href="mailto:quest@mglk.ru") quest@mglk.ru
				p Для получения скидки необходимо предоставить паспорт, скидка распространяется на все категории номеров. Скидка действует при прямом бронировании по телефону и от стойки ресепшн на номер, в котором будет проживать именинник.
					br
					| Не суммируется с другими акциями и спецпредложениями курорта.
		.block._br._p.share 
			.share__title  Поделиться
			.share__list
				a(href="#")
					<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733a4.67 4.67 0 0 0 2.049-2.578 9.3 9.3 0 0 1-2.959 1.13 4.66 4.66 0 0 0-7.938 4.25A13.23 13.23 0 0 1 2.52 3.604a4.66 4.66 0 0 0 1.442 6.22 4.647 4.647 0 0 1-2.11-.583v.06a4.66 4.66 0 0 0 3.737 4.568 4.693 4.693 0 0 1-2.105.08 4.661 4.661 0 0 0 4.353 3.234 9.348 9.348 0 0 1-5.787 1.995 9.5 9.5 0 0 1-1.111-.065 13.175 13.175 0 0 0 7.14 2.093c8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602a9.47 9.47 0 0 0 2.323-2.41l.002-.003Z" fill="#fff"/></svg>
				a(href="#")
					<svg width="24" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.45.948c.166-.546 0-.948-.795-.948H20.03c-.668 0-.976.347-1.143.73 0 0-1.335 3.196-3.226 5.272-.612.602-.89.793-1.224.793-.167 0-.418-.191-.418-.738V.948c0-.656-.184-.948-.74-.948H9.151c-.417 0-.668.304-.668.593 0 .621.946.765 1.043 2.513v3.798c0 .833-.153.984-.487.984-.89 0-3.055-3.211-4.34-6.885C4.45.288 4.198 0 3.527 0H.9C.15 0 0 .347 0 .73c0 .682.89 4.07 4.145 8.551C6.315 12.341 9.37 14 12.153 14c1.669 0 1.875-.368 1.875-1.003v-2.313c0-.737.158-.884.687-.884.39 0 1.057.192 2.615 1.667C19.11 13.216 19.403 14 20.405 14h2.625c.75 0 1.126-.368.91-1.096-.238-.724-1.088-1.775-2.215-3.022-.612-.71-1.53-1.475-1.809-1.858-.389-.491-.278-.71 0-1.147 0 0 3.2-4.426 3.533-5.929h.001Z" fill="#fff"/></svg>
				a(href="#")
					<svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path fill-rule="evenodd" clip-rule="evenodd" d="M22 11c0 6.075-4.925 11-11 11S0 17.075 0 11 4.925 0 11 0s11 4.925 11 11ZM11.394 8.12c-1.07.445-3.208 1.367-6.415 2.764-.52.207-.793.41-.818.607-.042.336.377.468.948.647l.24.077c.563.182 1.318.396 1.71.404.357.007.755-.14 1.194-.44 2.995-2.023 4.542-3.045 4.639-3.067.069-.016.164-.036.228.022.064.056.058.165.052.194-.043.177-1.687 1.707-2.54 2.499-.265.246-.453.421-.492.462-.086.089-.174.174-.258.256-.523.502-.913.88.022 1.496.449.296.808.54 1.167.784.391.267.781.533 1.287.865.129.084.252.171.372.256.455.326.865.617 1.371.571.293-.027.598-.303.752-1.127.364-1.949 1.08-6.17 1.246-7.91.01-.144.004-.289-.018-.432a.464.464 0 0 0-.158-.298c-.13-.107-.334-.13-.426-.128-.413.007-1.048.228-4.103 1.499Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h22v22H0z"/></clipPath></defs></svg>
				a(href="#")
					<svg width="15" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="M7.242 0A6.46 6.46 0 0 0 .788 6.452a6.459 6.459 0 0 0 6.454 6.451 6.457 6.457 0 0 0 6.451-6.45A6.459 6.459 0 0 0 7.242 0Zm0 3.78c1.472 0 2.67 1.2 2.67 2.672a2.673 2.673 0 0 1-2.67 2.67 2.674 2.674 0 0 1-2.672-2.67A2.675 2.675 0 0 1 7.242 3.78Zm-5.32 9.343a1.891 1.891 0 0 0-1.038 3.492 12.106 12.106 0 0 0 3.745 1.55l-3.606 3.608a1.89 1.89 0 1 0 2.674 2.673l3.543-3.544 3.546 3.544a1.89 1.89 0 1 0 2.673-2.673L9.85 18.166a12.09 12.09 0 0 0 3.746-1.551 1.89 1.89 0 1 0-2.013-3.2 8.194 8.194 0 0 1-8.687 0 1.881 1.881 0 0 0-.976-.292Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h14.482v25H0z"/></clipPath></defs></svg>

		.block
			.block__head._p-h 
				.h1 Другие акции и спецпредложения
			.promo-grid
				.promo-preview
					.promo-preview__bg._br
						+picture('pr-4','jpg')
					.promo-preview__content 
						ul.promo-preview__top
							li Акция
							li СКИДКА 10%
						a.h2.link-chevron.promo-preview__link(href="#") Блюда на вынос со скидкой
				
				.promo-preview
					.promo-preview__bg._br
						+picture('pr-5','jpg')
					.promo-preview__content 
						ul.promo-preview__top
							li Спецпредложение
							li Часы в подарок
						a.h2.link-chevron.promo-preview__link(href="#")  Беседка 1+1=3 
				