extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		.mblock.page-top
			+breadcrumb(['Главная','Пресс-центр'], 'Инна Святенко: «Манжерок» уникальный пример развития современного курорта ')
			.page-top__bg._br
				+picture('press-f','jpg')
			.page-top__head
				.page-top__label Новость
				.page-top__date 06 июля 2022
			.page-top__row
				.page-top__left
					h1 Инна Святенко: «Манжерок» уникальный пример развития современного курорта 
				.page-top__socs
					span  Поделиться
					.page-top__socs-list
						a(href="#")
							<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733a4.67 4.67 0 0 0 2.049-2.578 9.3 9.3 0 0 1-2.959 1.13 4.66 4.66 0 0 0-7.938 4.25A13.23 13.23 0 0 1 2.52 3.604a4.66 4.66 0 0 0 1.442 6.22 4.647 4.647 0 0 1-2.11-.583v.06a4.66 4.66 0 0 0 3.737 4.568 4.693 4.693 0 0 1-2.105.08 4.661 4.661 0 0 0 4.353 3.234 9.348 9.348 0 0 1-5.787 1.995 9.5 9.5 0 0 1-1.111-.065 13.175 13.175 0 0 0 7.14 2.093c8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602a9.47 9.47 0 0 0 2.323-2.41l.002-.003Z" fill="#fff"/></svg>
						a(href="#")
							<svg width="24" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.45.948c.166-.546 0-.948-.795-.948H20.03c-.668 0-.976.347-1.143.73 0 0-1.335 3.196-3.226 5.272-.612.602-.89.793-1.224.793-.167 0-.418-.191-.418-.738V.948c0-.656-.184-.948-.74-.948H9.151c-.417 0-.668.304-.668.593 0 .621.946.765 1.043 2.513v3.798c0 .833-.153.984-.487.984-.89 0-3.055-3.211-4.34-6.885C4.45.288 4.198 0 3.527 0H.9C.15 0 0 .347 0 .73c0 .682.89 4.07 4.145 8.551C6.315 12.341 9.37 14 12.153 14c1.669 0 1.875-.368 1.875-1.003v-2.313c0-.737.158-.884.687-.884.39 0 1.057.192 2.615 1.667C19.11 13.216 19.403 14 20.405 14h2.625c.75 0 1.126-.368.91-1.096-.238-.724-1.088-1.775-2.215-3.022-.612-.71-1.53-1.475-1.809-1.858-.389-.491-.278-.71 0-1.147 0 0 3.2-4.426 3.533-5.929h.001Z" fill="#fff"/></svg>
						a(href="#")
							<svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path fill-rule="evenodd" clip-rule="evenodd" d="M22 11c0 6.075-4.925 11-11 11S0 17.075 0 11 4.925 0 11 0s11 4.925 11 11ZM11.394 8.12c-1.07.445-3.208 1.367-6.415 2.764-.52.207-.793.41-.818.607-.042.336.377.468.948.647l.24.077c.563.182 1.318.396 1.71.404.357.007.755-.14 1.194-.44 2.995-2.023 4.542-3.045 4.639-3.067.069-.016.164-.036.228.022.064.056.058.165.052.194-.043.177-1.687 1.707-2.54 2.499-.265.246-.453.421-.492.462-.086.089-.174.174-.258.256-.523.502-.913.88.022 1.496.449.296.808.54 1.167.784.391.267.781.533 1.287.865.129.084.252.171.372.256.455.326.865.617 1.371.571.293-.027.598-.303.752-1.127.364-1.949 1.08-6.17 1.246-7.91.01-.144.004-.289-.018-.432a.464.464 0 0 0-.158-.298c-.13-.107-.334-.13-.426-.128-.413.007-1.048.228-4.103 1.499Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h22v22H0z"/></clipPath></defs></svg>
						a(href="#")
							<svg width="15" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="M7.242 0A6.46 6.46 0 0 0 .788 6.452a6.459 6.459 0 0 0 6.454 6.451 6.457 6.457 0 0 0 6.451-6.45A6.459 6.459 0 0 0 7.242 0Zm0 3.78c1.472 0 2.67 1.2 2.67 2.672a2.673 2.673 0 0 1-2.67 2.67 2.674 2.674 0 0 1-2.672-2.67A2.675 2.675 0 0 1 7.242 3.78Zm-5.32 9.343a1.891 1.891 0 0 0-1.038 3.492 12.106 12.106 0 0 0 3.745 1.55l-3.606 3.608a1.89 1.89 0 1 0 2.674 2.673l3.543-3.544 3.546 3.544a1.89 1.89 0 1 0 2.673-2.673L9.85 18.166a12.09 12.09 0 0 0 3.746-1.551 1.89 1.89 0 1 0-2.013-3.2 8.194 8.194 0 0 1-8.687 0 1.881 1.881 0 0 0-.976-.292Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h14.482v25H0z"/></clipPath></defs></svg>

		.mblock._br._p 
			.text 
				h2 6 июля состоялось торжественное открытие международного молодежного фестиваля «Манжерок».
				p Белоруссия, Армения, Таджикистан, Китай, Казахстан, Молдавия, Азербайджан, Сирия и другие страны. Международный молодежный фестиваль «Манжерок» — это 19 стран и сотни участников. И наконец, это единая идеологическая платформа молодых лидеров и соотечественников из стран Евразии. Генеральный директор курорта «Манжерок»  
					color Владимир Щербинин 
					| поприветствовал участников фестиваля и подчеркнул, курорт готов и дальше принимать международный фестиваль. Для этого сегодня создаются все условия.
				.quote 
					p
						big «Второй год подряд наш курорт становится площадкой для проведения международного фестиваля. 
							b В этом году география расширилась. 
							| Стало больше не только участников, но и стран. Надеемся, следующий год не станет исключением и курорт „Манжерок“ вновь станет интеллектуальной и молодежной площадкой. Мы, в свою очередь, подготовим  для вас новую гостиницу и новую инфраструктуру. Уверен, фестиваль „Манжерок“ станет доброй традицией. Он пройдет в плодотворном ключе, а прозвучавшие на нем идеи  и предложения будут использованы на практике»
					.quote__autor — подчеркнул Владимир Щербинин
				p Приветствовал участников фестиваля спикер   парламента Республики Алтай Артур Кохоев и генеральный директор Фонда евразийского сотрудничества и интеграции Николай Журавлев. Об истории проведения первого фестиваля дружбы советско-монгольской молодежи 1966 года, рассказал Владимир Панов. 56 лет назад первый фестиваль проходил на базе пионерского лагеря им. Ленина «Дружба – это Манжерок». Сейчас же он проходит в совершенно других, комфортных условиях, отметил Владимир Панов.
				p Подарком для участников и гостей фестиваля стало выступление исполнителей российской эстрады. Soyana - победительница многих вокальных фестивалей и конкурсов, участница шоу «Голос» в Турции. Яркие номера представили группа «Гринкевич» и Vlad Hosh. Ну а настоящим сюрпризом вечера стал выход на сцену Люси Чеботиной. А ее хит «Солнце Монако» все участники приняли на ура.
				p
					b Отметим, фестиваль продлится до 10 июля.
		.mblock.justified-gallery-block
			.justified-gallery
				.justified-gallery__item(data-customcursor)
					a(href="img/press-21.jpg" data-fancybox="gal")
						+picture('press-21','jpg')
				.justified-gallery__item(data-customcursor)
					a(href="img/press-22.jpg" data-fancybox="gal")
						+picture('press-22','jpg')
				.justified-gallery__item(data-customcursor)
					a(href="img/press-23.jpg" data-fancybox="gal")
						+picture('press-23','jpg')
				.justified-gallery__item(data-customcursor)
					a(href="img/press-24.jpg" data-fancybox="gal")
						+picture('press-24','jpg')
				.justified-gallery__item(data-customcursor)
					a(href="img/press-25.jpg" data-fancybox="gal")
						+picture('press-25','jpg')
				.justified-gallery__item(data-customcursor)
					a(href="img/press-26.jpg" data-fancybox="gal")
						+picture('press-26','jpg')
		.block._br._p.share 
			.share__title  Поделиться
			.share__list
				a(href="#")
					<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733a4.67 4.67 0 0 0 2.049-2.578 9.3 9.3 0 0 1-2.959 1.13 4.66 4.66 0 0 0-7.938 4.25A13.23 13.23 0 0 1 2.52 3.604a4.66 4.66 0 0 0 1.442 6.22 4.647 4.647 0 0 1-2.11-.583v.06a4.66 4.66 0 0 0 3.737 4.568 4.693 4.693 0 0 1-2.105.08 4.661 4.661 0 0 0 4.353 3.234 9.348 9.348 0 0 1-5.787 1.995 9.5 9.5 0 0 1-1.111-.065 13.175 13.175 0 0 0 7.14 2.093c8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602a9.47 9.47 0 0 0 2.323-2.41l.002-.003Z" fill="#fff"/></svg>
				a(href="#")
					<svg width="24" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.45.948c.166-.546 0-.948-.795-.948H20.03c-.668 0-.976.347-1.143.73 0 0-1.335 3.196-3.226 5.272-.612.602-.89.793-1.224.793-.167 0-.418-.191-.418-.738V.948c0-.656-.184-.948-.74-.948H9.151c-.417 0-.668.304-.668.593 0 .621.946.765 1.043 2.513v3.798c0 .833-.153.984-.487.984-.89 0-3.055-3.211-4.34-6.885C4.45.288 4.198 0 3.527 0H.9C.15 0 0 .347 0 .73c0 .682.89 4.07 4.145 8.551C6.315 12.341 9.37 14 12.153 14c1.669 0 1.875-.368 1.875-1.003v-2.313c0-.737.158-.884.687-.884.39 0 1.057.192 2.615 1.667C19.11 13.216 19.403 14 20.405 14h2.625c.75 0 1.126-.368.91-1.096-.238-.724-1.088-1.775-2.215-3.022-.612-.71-1.53-1.475-1.809-1.858-.389-.491-.278-.71 0-1.147 0 0 3.2-4.426 3.533-5.929h.001Z" fill="#fff"/></svg>
				a(href="#")
					<svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path fill-rule="evenodd" clip-rule="evenodd" d="M22 11c0 6.075-4.925 11-11 11S0 17.075 0 11 4.925 0 11 0s11 4.925 11 11ZM11.394 8.12c-1.07.445-3.208 1.367-6.415 2.764-.52.207-.793.41-.818.607-.042.336.377.468.948.647l.24.077c.563.182 1.318.396 1.71.404.357.007.755-.14 1.194-.44 2.995-2.023 4.542-3.045 4.639-3.067.069-.016.164-.036.228.022.064.056.058.165.052.194-.043.177-1.687 1.707-2.54 2.499-.265.246-.453.421-.492.462-.086.089-.174.174-.258.256-.523.502-.913.88.022 1.496.449.296.808.54 1.167.784.391.267.781.533 1.287.865.129.084.252.171.372.256.455.326.865.617 1.371.571.293-.027.598-.303.752-1.127.364-1.949 1.08-6.17 1.246-7.91.01-.144.004-.289-.018-.432a.464.464 0 0 0-.158-.298c-.13-.107-.334-.13-.426-.128-.413.007-1.048.228-4.103 1.499Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h22v22H0z"/></clipPath></defs></svg>
				a(href="#")
					<svg width="15" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="M7.242 0A6.46 6.46 0 0 0 .788 6.452a6.459 6.459 0 0 0 6.454 6.451 6.457 6.457 0 0 0 6.451-6.45A6.459 6.459 0 0 0 7.242 0Zm0 3.78c1.472 0 2.67 1.2 2.67 2.672a2.673 2.673 0 0 1-2.67 2.67 2.674 2.674 0 0 1-2.672-2.67A2.675 2.675 0 0 1 7.242 3.78Zm-5.32 9.343a1.891 1.891 0 0 0-1.038 3.492 12.106 12.106 0 0 0 3.745 1.55l-3.606 3.608a1.89 1.89 0 1 0 2.674 2.673l3.543-3.544 3.546 3.544a1.89 1.89 0 1 0 2.673-2.673L9.85 18.166a12.09 12.09 0 0 0 3.746-1.551 1.89 1.89 0 1 0-2.013-3.2 8.194 8.194 0 0 1-8.687 0 1.881 1.881 0 0 0-.976-.292Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h14.482v25H0z"/></clipPath></defs></svg>

		.block
			.block__head
				.h1 Другие  новости
			.news-list-row
				.news-preview._br
					.news-preview__row
						.news-preview__photo-wrap._br 
							+picture('press-2','jpg').news-preview__photo 
							.news-preview__label Новости
							.news-preview__date 01 ноября 2022
						.news-preview__content
							.news-preview__title.h2 Курорт Манжерок во второй раз примет Кубок России по горнолыжному спорту 
							.news-preview__desc
								p Соревнования пройдут на территории всесезонного курорта «Манжерок» с 26 января по 1 февраля 2023 года.
							a(href="#").news-preview__link Подробнее
				.news-preview._br
					.news-preview__row
						.news-preview__photo-wrap._br
							+picture('press-3','jpg').news-preview__photo 
							.news-preview__label Новости
							.news-preview__date 01 ноября 2022
						.news-preview__content
							.news-preview__title.h2 Курорт Манжерок во второй раз примет Кубок России по горнолыжному спорту 
							.news-preview__desc
								
							a(href="#").news-preview__link Подробнее
				.news-preview._br
					.news-preview__row
						.news-preview__photo-wrap._br
							+picture('press-4','jpg').news-preview__photo 
							.news-preview__label СМИ о нас
							.news-preview__date 01 ноября 2022
						.news-preview__content
							.news-preview__title.h2 Отдых — это Манжерок! Как Сбер развивает популярный курорт
							.news-preview__desc
								p В Горно-Алтайске под руководством председателя правительства прошло совещание с представителями органов федеральной и региональной власти.
							a(href="#").news-preview__link Подробнее

			