extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		.block
			.booking-head.mblock._br._p 
				.h1 Бронирование номеров
				p  С помощью приведенной ниже формы вы можете забронировать наши номера в режиме онлайн и получить гарантированную бронь
			<div id='tl-booking-form' class="_br">&nbsp;</div>
			<script type='text/javascript'>(function(w) {var q = [['setContext', 'TL-INT-manzherok_2022-12-07', 'ru'],['embed', 'booking-form', {container: 'tl-booking-form'}]];var h=["ru-ibe.tlintegration.ru","ibe.tlintegration.ru","ibe.tlintegration.com"];var t = w.travelline = (w.travelline || {}),ti = t.integration = (t.integration || {});ti.__cq = ti.__cq? ti.__cq.concat(q) : q;if (!ti.__loader) {ti.__loader = true;var d=w.document,c=d.getElementsByTagName("head")[0]||d.getElementsByTagName("body")[0];function e(s,f) {return function() {w.TL||(c.removeChild(s),f())}}(function l(h) {if (0===h.length) return; var s=d.createElement("script");s.type="text/javascript";s.async=!0;s.src="https://"+h[0]+"/integration/loader.js";s.onerror=s.onload=e(s,function(){l(h.slice(1,h.length))});c.appendChild(s)})(h);}})(window);
			</script>
