extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		.mblock.page-top
			+breadcrumb(['Главная'], 'Рестораны и бары')
			.page-top__bg._br
				+picture('rb-1','jpg')
			h1 Рестораны и бары
		.mblock
			.rest-grid
				.rest-preview
					.rest-preview__bg._br
						+picture('rb-2','jpg')
					.rest-preview__content
						ul.rest-preview__top
							li Часы работы 10:00-00:00
							li Шале в сосновом бору
						.h2.rest-preview__link Панорамный ресторан
						.rest-preview__soon Скоро открытие
				.rest-preview
					.rest-preview__bg._br
						+picture('rb-3','jpg')
					.rest-preview__content
						ul.rest-preview__top
							li Часы работы 10:00-00:00
							li Шале в сосновом бору
						a.h2.link-chevron.rest-preview__link(href="#") Ресторан «Горный»
				
				.rest-preview
					.rest-preview__bg._br
						+picture('rb-4','jpg')
					.rest-preview__content
						ul.rest-preview__top
							li Часы работы 10:00-00:00
							li Шале в сосновом бору
						.h2.rest-preview__link  Фудкорт
						.rest-preview__soon Скоро открытие
				.rest-preview
					.rest-preview__bg._br
						+picture('rb-5','jpg')
					.rest-preview__content
						ul.rest-preview__top
							li Часы работы 10:00-00:00
							li Шале в сосновом бору
						.h2.rest-preview__link  Гастропаб «На высоте» 
						.rest-preview__soon Скоро открытие
				.rest-preview
					.rest-preview__bg._br
						+picture('rb-6','jpg')
					.rest-preview__content
						ul.rest-preview__top
							li Часы работы 10:00-00:00
							li Шале в сосновом бору
						.h2.rest-preview__link Шведская линия
						.rest-preview__soon Скоро открытие
				.rest-preview
					.rest-preview__bg._br
						+picture('rb-7','jpg')
					.rest-preview__content
						ul.rest-preview__top
							li Часы работы 10:00-00:00
							li Шале в сосновом бору
						.h2.rest-preview__link Лобби-бар
						.rest-preview__soon Скоро открытие
				.rest-preview
					.rest-preview__bg._br
						+picture('rb-8','jpg').rest-preview__bg
					.rest-preview__content
						ul.rest-preview__top
							li Часы работы 10:00-00:00
							li Шале в сосновом бору
						.h2.rest-preview__link Детское кафе
						.rest-preview__soon Скоро открытие
				.rest-preview
					.rest-preview__bg._br
						+picture('rb-9','jpg')
					.rest-preview__content
						ul.rest-preview__top
							li Часы работы 10:00-00:00
							li Шале в сосновом бору
						.h2.rest-preview__link Диско-бар
						.rest-preview__soon Скоро открытие