extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		.front-top.mblock
			.front-top__row 
				.front-top__left._br.front-top__main._p-h
						.front-top__main-bg
							include ../../layout/component/header/header
							video#front-main-video(src="video/Mangerok.mp4" playsinline="" loop="" autoplay="" muted="") 
							.front-top__main-bg-flex 
								img(src="img/front-logo.svg", alt="").front-top__main-bg-logo
								.front-top__main-bg-title Место единения с природой
								img(src="img/front-traveline.svg", alt="").front-top__main-bg-traveline
								.front-top__main-bg-down 
									<svg width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M13.6612 14.1997L14.0148 13.8462L13.3077 13.139L12.9541 13.4926L13.6612 14.1997ZM7.15385 20L6.80029 20.3536L7.15385 20.7071L7.5074 20.3536L7.15385 20ZM1.35355 13.4926L1 13.139L0.292893 13.8462L0.646447 14.1997L1.35355 13.4926ZM12.9541 13.4926L6.80029 19.6464L7.5074 20.3536L13.6612 14.1997L12.9541 13.4926ZM7.5074 19.6464L1.35355 13.4926L0.646447 14.1997L6.80029 20.3536L7.5074 19.6464ZM7.65385 20L7.65385 2.75098e-08L6.65385 -2.75098e-08L6.65385 20H7.65385Z" fill="white"/>
									</svg>
						.front-top__main-open
						.h1 Место для единения
							br
							| с природой
				.front-top__right.grid-1._br._gap-15
					.weather-block._br.load-anim._delay-0
						.weather-block__temp
							img.weather-block__icon(src="img/sun.svg", alt="")
							span 
								span.weather-block__temp-data -12
								sup o
								| C
						.weather-block__status Солнечно
						.weather-block__feeling Ощущается как 
							span.weather-block__feel-temp -4
							sup о
						.weather-block__dynamics
							.weather-block__dynamics-negative
								span -23
								sup o
							.weather-block__dynamics-positive 
								span -10
								sup o
	
					.skypass._br.load-anim._delay-600
						a(href="https://shop.mglk.ru/ru/Tickets") 
							img(src="img/skypass.jpg", alt="")
							span Купить абонемент
					.load-anim._delay-1200
						.workload._br
							!='<script>const periods = [{"type":"medium","start":"12:01","finish":"14:10"},{"type":"low","start":"9:00","finish":"12:00"},{"type":"high","start":"14:11","finish":"18:00"},{"type":"very-high","start":"18:01","finish":"19:59"}]</script>'
							.workload__head 
								.workload__title Загруженность подъемников
								.workload__procent 
									span._low <50%
									span._medium >50%
									span._high 75-100%
									span._very-high 100% +
							.workload__body 
								
								input(type="text")#workload-slider
								.workload__line
								ul.workload__legends
									li._low 0 - 50%
									li._medium 50 - 75%
									li._high 75 - 100%
									li._very-high 100% +
					
				.front-top__left._br.front-traveline._p-h.load-anim._delay-1500
					+picture('traveline1','jpg').front-traveline__bg
					h3 Бронирование номера 
				.front-top__right._br.front-info._p-h.load-anim._delay-1800
					img(src="img/icon-i.svg", alt="").front-info__icon

					| Вы смотрите версию нового сайта курорта. Вернуться на 
					a(href="https://манжерок.рф/") прежнюю версию   
		.front-ablut-row._gap-15.mblock
			._p._br.front-about( data-aos="fade",data-aos-duration="500")
				h2 Курорт «Манжерок» у подножия
					br
					| горы Малая Синюха открывает двери
					br
					| в удивительный Горный Алтай.
				p 
					big  Удобное расположение вблизи основных
						br
						| достопримечательностей и развитая
						br
						| инфраструктура сделают отдых незабываемым.
				a(href="#").link-arrow О КУРОРТЕ
			.one-slider._br(data-aos="fade",data-aos-delay='200',data-aos-duration="500")
				.one-slider__slider.swiper
					.swiper-wrapper 
						.swiper-slide
							+picture('slide','jpg')
						.swiper-slide
							+picture('slide','jpg')
						.swiper-slide
							+picture('slide','jpg')
						.swiper-slide
							+picture('slide','jpg')
						.swiper-slide
							+picture('slide','jpg')
					.one-slider__fract
						span.one-slider__fract-now
						span.one-slider__fract-all
						
					.one-slider__pagi
		.front-services.block#front-services
			.front-service-slider._br(data-aos="fade",data-aos-delay='0',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service-slider__swiper.swiper 
					.swiper-wrapper
						.swiper-slide.front-service-slide._p._br
							.front-service-slide__bg 
								+picture('s-1','jpg')
							h2 Горы 
							.front-service-slide__body 
								p  Крупнейший курорт в республике Алтай
					
						.swiper-slide.front-service-slide._p._br
							.front-service-slide__bg.h2
								+picture('s-2','jpg')
							.h2 Горы 
							.front-service-slide__body 
								p  Крупнейший курорт в республике Алтай
					
						.swiper-slide.front-service-slide._p._br
							.front-service-slide__bg.h2 
								+picture('s-3','jpg')
							.h2 Горы 
							.front-service-slide__body
								p  Крупнейший курорт в республике Алтай
				.front-service-slider__pagi._p-h
	
			.front-service._br(data-customcursor, data-aos="fade",data-aos-delay='300',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service__bg 
					+picture('s-2','jpg')
				a(href="https://манжерок.рф/ru/activity/gornolyzhnaya-shkola/").front-service__link ГорнолыжнаЯ школа
				
		
			.front-service._br(data-customcursor, data-aos="fade",data-aos-delay='600',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service__bg 
					+picture('s-3','jpg')
				a(href="https://манжерок.рф/ru/activity/prokat/").front-service__link Прокат оборудования 
			.front-service._br(data-customcursor, data-aos="fade",data-aos-delay='900',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service__bg 
					+picture('s-4','jpg')
				a(href="https://shop.mglk.ru/ru/Tickets").front-service__link Купить Skipass 
			.front-service._br( data-aos="fade",data-aos-delay='1200',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service__bg 
					+picture('s-5','jpg')
				.front-service__link Тюбинг
			.front-service._br(data-customcursor, data-aos="fade",data-aos-delay='1500',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service__bg 
					+picture('s-6','jpg')
				a(href="https://манжерок.рф/ru/activity/sky-track/").front-service__link Карта склонов
		.front-sales.block#front-sales
			.block__head._p-h
				.h2 Акции и спецпредложения
			.front-sales__row 
				.front-sale._br(data-customcursor, data-aos="fade",data-aos-delay='000',data-aos-duration="500",data-aos-anchor="#front-sales")
					.front-sale__bg 
						+picture('s-7','jpg')
					a(href="https://манжерок.рф/ru/about/special-offers/2876/").front-sale__link Блюда на вынос
						br
						| со скидкой 10%
				.front-sale._br(data-customcursor, data-aos="fade",data-aos-delay='300',data-aos-duration="500",data-aos-anchor="#front-sales")
					.front-sale__bg 
						+picture('s-8','jpg')
					a(href="#").front-sale__link Банный комплекс
				.front-sale._br(data-customcursor, data-aos="fade",data-aos-delay='600',data-aos-duration="500",data-aos-anchor="#front-sales")
					.front-sale__bg 
						+picture('s-9','jpg')
					a(href="https://манжерок.рф/ru/about/special-offers/2559/").front-sale__link День Рождения в Манжероке
				.front-sale._br.video-hover-play(data-customcursor, data-aos="fade",data-aos-delay='1200',data-aos-duration="500",data-aos-anchor="#front-sales")
					.front-sale__bg 
						video(src="video/wedding.mp4" playsinline="" loop=""  muted="") 
					a(href="https://манжерок.рф/ru/about/special-offers/2580/").front-sale__link  Свадьба в Горах 
		.front-accommodation.block#front-accommodation
			.block__head._p-h
				.h2 Проживание 
				.block__slider-nav.mob-hidden
					button.block__slider-prev
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.3077 25.6154L0.999999 13.3077M0.999999 13.3077L13.3077 1M0.999999 13.3077H41" stroke="#B2C2D3" stroke-width="1.4"/>
						</svg>

					button.block__slider-next
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M27.6923 25.6154L40 13.3077M40 13.3077L27.6923 1M40 13.3077H0" stroke="#106AC6" stroke-width="1.4"/>
						</svg>	

			.front-accommodation__slider.swiper 
				.swiper-wrapper
					.swiper-slide.accommodation-slide._br( data-aos="fade",data-aos-delay='0',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-1','jpg')
						.accommodation-slide__title Виллы
						.accommodation-slide__soon Скоро открытие
				
					.swiper-slide.accommodation-slide._br( data-aos="fade",data-aos-delay='300',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-2','jpg')
						.accommodation-slide__title Отель 5
						.accommodation-slide__soon Скоро открытие
						.accommodation-slide__stars
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
					.swiper-slide.accommodation-slide._br(data-customcursor, data-aos="fade",data-aos-delay='600',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-3','jpg')
						a(href="https://манжерок.рф/ru/about/hotel/").accommodation-slide__title  Отель 3
						.accommodation-slide__stars
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
					.swiper-slide.accommodation-slide._br( data-aos="fade",data-aos-delay='900',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-4','jpg')
						.accommodation-slide__title 
						.accommodation-slide__soon Скоро открытие
			
		.front-restbars.block#front-restbars
			.block__head._p-h
				.h2 Рестораны и бары 
				.block__slider-nav.mob-hidden
					button.block__slider-prev
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.3077 25.6154L0.999999 13.3077M0.999999 13.3077L13.3077 1M0.999999 13.3077H41" stroke="#B2C2D3" stroke-width="1.4"/>
						</svg>

					button.block__slider-next
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M27.6923 25.6154L40 13.3077M40 13.3077L27.6923 1M40 13.3077H0" stroke="#106AC6" stroke-width="1.4"/>
						</svg>	

			.front-restbars__slider.swiper 
				.swiper-wrapper
					.swiper-slide.front-restbars__two-column.front-restbar-desctop
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="0",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br
								+picture('restbars-1','jpg')
								.front-restbar__soon Скоро открытие
							.front-restbar__title Точки питания на горе
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="300",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br(data-customcursor)
								+picture('restbars-2','jpg')
							a(href="https://манжерок.рф/ru/activity/pitanie/").front-restbar__title РЕСТОРАН «ГОРНЫЙ»
					.swiper-slide.front-restbars__one-column.front-restbar-desctop
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="600",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br
								+picture('restbars-3','jpg')
								.front-restbar__soon Скоро открытие
							.front-restbar__title Панорамный ресторан
					.swiper-slide.front-restbars__two-column.front-restbar-desctop
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="800",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br
								+picture('restbars-4','jpg')
								.front-restbar__soon Скоро открытие
							.front-restbar__title Ресторан в виллах
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="900",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br(data-customcursor)
								+picture('restbars-5','jpg')
								.front-restbar__soon Скоро открытие
							.front-restbar__title Фудкорт
					.swiper-slide.front-restbars__one-column.front-restbar-desctop
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="1200",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br(data-customcursor)
								+picture('restbars-6','jpg')
								.front-restbar__soon Скоро открытие
							.front-restbar__title Лобби-бар
					
					.swiper-slide.front-restbar-mobile.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="0",data-aos-anchor="#front-restbars")
						.front-restbar__photo._br
							+picture('restbars-1','jpg')
							.front-restbar__soon Скоро открытие
						.front-restbar__title Точки питания на горе
					.swiper-slide.front-restbar-mobile.front-restbar(data-aos="fade",data-aos-delay='300',data-aos-duration="0",data-aos-anchor="#front-restbars")
						.front-restbar__photo._br(data-customcursor)
							+picture('restbars-2','jpg')
						a(href="https://манжерок.рф/ru/activity/pitanie/").front-restbar__title РЕСТОРАН «ГОРНЫЙ»
					
					.swiper-slide.front-restbar-mobile.front-restbar
						.front-restbar__photo._br
							+picture('restbars-3','jpg')
							.front-restbar__soon Скоро открытие
						.front-restbar__title Панорамный ресторан
					.swiper-slide.front-restbar-mobile.front-restbar
						.front-restbar__photo._br
							+picture('restbars-4','jpg')
							.front-restbar__soon Скоро открытие
						.front-restbar__title Ресторан в виллах
					.swiper-slide.front-restbar-mobile.front-restbar
						.front-restbar__photo._br(data-customcursor)
							+picture('restbars-5','jpg')
							.front-restbar__soon Скоро открытие
						.front-restbar__title Фудкорт
					.swiper-slide.front-restbar-mobile.front-restbar
						.front-restbar__photo._br(data-customcursor)
							+picture('restbars-6','jpg')
							.front-restbar__soon Скоро открытие
						.front-restbar__title Лобби-бар
			
		.front-entertainment.block#front-entertainment 
			.block__head._p-h
				.h2 Развлечения 
				.block__slider-nav.mob-hidden
					button.block__slider-prev
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.3077 25.6154L0.999999 13.3077M0.999999 13.3077L13.3077 1M0.999999 13.3077H41" stroke="#B2C2D3" stroke-width="1.4"/>
						</svg>

					button.block__slider-next
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M27.6923 25.6154L40 13.3077M40 13.3077L27.6923 1M40 13.3077H0" stroke="#106AC6" stroke-width="1.4"/>
						</svg>	

			.front-entertainment__slider.swiper#front-enterneiment
				.swiper-wrapper
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='0',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-1','jpg')
						.front-entertainment-slide__link(href="https://манжерок.рф/ru/activity/prokat/") Прокат инвентаря
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='300',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-2','jpg')
						.front-entertainment-slide__link(href="https://манжерок.рф/ru/activity/gornolyzhnaya-shkola/") Горнолыжная школа
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='600',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-3','jpg')
						.front-entertainment-slide__link(href="https://манжерок.рф/ru/activity/banya-summer/") Алтайский банный комплекс/ Услуги&nbsp;массажа
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='900',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-4','jpg')
						.front-entertainment-slide__link(href="https://манжерок.рф/ru/services/summer/excursions/") экскурсии
					
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='1200',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-5','jpg')
						.front-entertainment-slide__link(href="https://манжерок.рф/ru/activity/razvlecheniya/") развлечения
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='1500',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-6','jpg')
						.front-entertainment-slide__link(href="https://манжерок.рф/ru/about/how-to-get/transfers/") трансфер
					
					
		.front-press.block 
			.block__head._p-h
				.h2 Пресс-центр 
				.block__slider-nav.mob-hidden
					button.block__slider-prev
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.3077 25.6154L0.999999 13.3077M0.999999 13.3077L13.3077 1M0.999999 13.3077H41" stroke="#B2C2D3" stroke-width="1.4"/>
						</svg>

					button.block__slider-next
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M27.6923 25.6154L40 13.3077M40 13.3077L27.6923 1M40 13.3077H0" stroke="#106AC6" stroke-width="1.4"/>
						</svg>	

			.front-press__slider.swiper#front-press
				.swiper-wrapper
					.swiper-slide.press-slide(data-aos="fade",data-aos-delay='0',data-aos-duration="0",data-aos-anchor="#front-presss")
						.press-slide__img-wrap._br(data-customcursor)
							+picture('p-1','jpg')
							.press-slide__footer._p-h
								.press-slide__tag СМИ о нас
								.press-slide__date 28 ноября 2022
							a.press-slide__link-area(href="https://манжерок.рф/ru/news/proekt-sbera-manzherok-poluchil-turisticheskiy-oskar-/")
						.press-slide__body
							.press-slide__title Проект Сбера «Манжерок» получил туристический «Оскар»
							a.press-slide__link(href="https://манжерок.рф/ru/news/proekt-sbera-manzherok-poluchil-turisticheskiy-oskar-/")  ПОДРОБНЕЕ 
					.swiper-slide.press-slide(data-aos="fade",data-aos-delay='300',data-aos-duration="0",data-aos-anchor="#front-presss")
						.press-slide__img-wrap._br(data-customcursor)
							+picture('p-2','jpg')
							.press-slide__footer._p-h
								.press-slide__tag НОВОСТИ
								.press-slide__date 25 ноября 2022
							a.press-slide__link-area(href="https://манжерок.рф/ru/news/na-kurorte-proshli-masshtabnye-ucheniya-po-spaseniyu-turistov/") 
						.press-slide__body
							.press-slide__title На курорте прошли масштабные учения по спасению туристов
							a.press-slide__link(href="https://манжерок.рф/ru/news/na-kurorte-proshli-masshtabnye-ucheniya-po-spaseniyu-turistov/")  ПОДРОБНЕЕ 
					.swiper-slide.press-slide(data-aos="fade",data-aos-delay='600',data-aos-duration="0",data-aos-anchor="#front-presss")
						.press-slide__img-wrap._br(data-customcursor)
							+picture('p-3','jpg')
							.press-slide__footer._p-h
								.press-slide__tag Новости
								.press-slide__date 15 ноября 2022
							a.press-slide__link-area(href="https://манжерок.рф/ru/news/na-kurorte-manzherok-snyali-odnu-iz-stsen-teleshou-faktor-strakha-/")
						.press-slide__body
							.press-slide__title На курорте «Манжерок» сняли одну из сцен телешоу «Фактор страха»
							a.press-slide__link(href="https://манжерок.рф/ru/news/na-kurorte-manzherok-snyali-odnu-iz-stsen-teleshou-faktor-strakha-/")  ПОДРОБНЕЕ 
					.swiper-slide.press-slide(data-aos="fade",data-aos-delay='900',data-aos-duration="0",data-aos-anchor="#front-presss")
						.press-slide__img-wrap._br(data-customcursor)
							+picture('p-4','jpg')
							.press-slide__footer._p-h
								.press-slide__tag Новости
								.press-slide__date  03 ноября 2022
							a.press-slide__link-area(href="https://манжерок.рф/ru/news/manzherok-udostoen-chetyrekh-premiy-ski-business-awards-2022/") 
						.press-slide__body
							.press-slide__title «Манжерок» удостоен четырех премий SKI BUSINESS AWARDS 2022
							a.press-slide__link(href="https://манжерок.рф/ru/news/manzherok-udostoen-chetyrekh-premiy-ski-business-awards-2022/")  ПОДРОБНЕЕ 
					.swiper-slide.press-slide(data-aos="fade",data-aos-delay='1200',data-aos-duration="0",data-aos-anchor="#front-presss")
						.press-slide__img-wrap._br(data-customcursor)
							+picture('p-5','jpg')
							.press-slide__footer._p-h
								.press-slide__tag СМИ о нас
								.press-slide__date 15 августа 2022
							a.press-slide__link-area(href="https://манжерок.рф/ru/news/otdykh-eto-manzherok-kak-sber-razvivaet-populyarnyy-kurort/")
						.press-slide__body
							.press-slide__title Отдых — это Манжерок! Как Сбер развивает популярный курорт
							a.press-slide__link(href="https://манжерок.рф/ru/news/otdykh-eto-manzherok-kak-sber-razvivaet-populyarnyy-kurort/")  ПОДРОБНЕЕ 
					