extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		.page-top
			+breadcrumb(['Главная'], 'Купить ski-pass')
			.page-top__bg
				+picture('cabel','jpg')
				h1 Канатные дороги
		.mblock.row-with-info 
			.row-with-info__left._br._p
				h2  Длина подъемника — 2 516 метров. Время подъема
					br
					| в экскурсионном режиме — 8-12 минут.
				p Современная канатная дорога гондольного типа «Чуйский тракт» фирмы Doppelmayr установлена на курорте с сентября 2019 года, что позволило значительно увеличить турпоток курорта.
			.row-with-info__info._br 
				p В период с 23 сентября  по 1 ноября работа канатных дорог будет приостановлена  по причине проведения регламентных работ.
		.mblock._br._p
			.text
				h2 Протяженность дороги 2 516 м, соединяет нижнюю станцию и вершину г. Малая Синюха, откуда открывается удивительный вид на окрестности Республики Алтай и реку Катунь.
				p
					big Посадка в кабинку канатной дороги производится по восемь человек, что позволяет наслаждаться красотами сразу большой компанией друзей или всей семьей. На верхней станции гостей ждёт смотровая площадка, площадка для старта парапланеристов и смотровой бинокль.
				.quote-block 
					.h2 В июне 2022 года мы запустили новую кресельную канатную дорогу «Альбаган» — шестиместный подъемник с подогревом сидений, с защитными колпаками, протяженностью 1000 метров и скоростью движения 6 м/с.
				p Гости курорта уже могут воспользоваться новой канаткой и насладиться видами, которые открываются с вершины горы Малая Синюха, с высоты 1240 метров. В зимний сезон благодаря этой канатной дороге трассы катания увеличатся до 23 километров.
		.mblock.cabel-modes 
			.cabel-modes__content._br._p 
				.h2 Режим работы канатных дорог
				.cabel-mode
					.cabel-mode__head
						.cabel-mode__title Канатная дорога «Чуйский тракт»
						.cabel-mode__status(data-status="work") Сейчас работает
					.h2 9:00 — 18:00 (последняя посадка на нижней станции в 17:00)
				.cabel-mode
					.cabel-mode__head
						.cabel-mode__title Канатная дорога «Альбаган»
						.cabel-mode__status(data-status="work") Сейчас работает
					.h2 910:00 — 16:30
						br
						| (последняя посадка 16:15)
			.cabel-modes__photos._br
				+picture('cabel-2','jpg')
		.cabel-prices.block._br._p
			.h2 Стоимость экскурсионных подъемов
			.table-responsive 
				table 
					thead 
						tr 
							th Категория
							th Цена (на две канатные дороги)
							th
					tbody
						tr.cabel-price 
							td.cabel-price__title Взрослые
							td
								span.cabel-price__price 850 ₽
							td
								a(href="#").btn Купить 
						tr.cabel-price 
							td.cabel-price__title Дети 6-11 лет
							td
								span.cabel-price__price 650 ₽
								span.cabel-price__desc (тариф действителен только при предъявлении документа подтверждающего возраст)
							td
								a(href="#").btn Купить 
						tr.cabel-price 
							td.cabel-price__title Дети 0-6 лет
							td
								span.cabel-price__price Бесплатно
								span.cabel-price__desc (при предъявлении документа подтверждающего возраст) 
							td
	
						tr.cabel-price 
							td.cabel-price__title Пенсионеры
							td
								span.cabel-price__price 650 ₽
								span.cabel-price__desc (при предъявлении документа подтверждающего возраст)
							td
								a(href="#").btn Купить 
						tr.cabel-price 
							td.cabel-price__title Проживающие
							td
								span.cabel-price__price Бесплатно 1 раз за период проживания
								span.cabel-price__desc (от двух суток)
							td
			.quote-block
				.h2
				ol
					li При порывах ветра более 15 метров в секунду
					li При приближении грозового фронта; 
					li При температуре воздуха ниже -25
						sup 0
						| С.
