body {
	font-family: 'Eastman';
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 200%;
	background: #E5E5E5;

	&._no-scroll {
		overflow: hidden;
	}
}

sup {
	font-size: 70%;
	vertical-align: super;
	margin: -31px 0;
	display: inline-block;
}

.mob-hidden {
	@media(max-width:890px) {
		display: none;
	}
}

.desc-hidden {
	@media(min-width:890px) {
		display: none;
	}
}

color {
	color: $blue
}

.load-anim {
	opacity: 0;

	transition: opacity 0.5s;

	&._delay-0 {
		transition-delay: 0ms;
	}

	&._delay-300 {
		transition-delay: 300ms;
	}

	&._delay-600 {
		transition-delay: 600ms;
	}

	&._delay-900 {
		transition-delay: 900ms;
	}

	&._delay-1200 {
		transition-delay: 1200ms;
	}

	&._delay-1500 {
		transition-delay: 1500ms;
	}

	&._delay-1800 {
		transition-delay: 1800ms;
	}

	&._delay-2100 {
		transition-delay: 2100ms;
	}

	&._animate {
		opacity: 1;
	}
}

img {
	max-width: 100%;
}

* {
	-webkit-box-decoration-break: clone;
	isolation: isolate;
}

.page {
	padding-top: 10px;
	padding-bottom: 10px;
}

._sb {
	backdrop-filter: blur(4px);
}

._br {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	background: #fff;
}



._p-h {
	padding: 0 30px;

	@media(max-width:890px) {
		padding: 0 20px;
	}
}

._p {
	padding: 30px;

	@media(max-width:890px) {
		padding: 20px;
	}
}

.inner {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1420px;

}

.mblock {
	margin-bottom: 15px;
}

.block {
	margin-bottom: 90px;

	@media(max-width:890px) {
		margin-bottom: 50px;
	}

	&__filter {
		padding: 10px 19px 8px 20px;
		background: #FFFFFF;
		border: 1.4px solid #B2C2D3;
		border-radius: 10px;
		text-transform: uppercase;
		line-height: 14px;
		letter-spacing: -0.02em;
		font-size: 12px;
		white-space: nowrap;
		cursor: pointer;

		&:hover,
		&.mixitup-control-active,
		&._active {
			border-color: $blue;
		}
	}

	&__filter-it {
		&.d-none {
			display: none !important;
		}
	}

	&__filters {
		display: flex;
		flex-direction: row;
		margin-left: auto;
		gap: 15px;
		overflow: auto;

		@media(max-width:800px) {
			margin-left: 0;
		}
	}

	&__head {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-bottom: 30px;
		flex-wrap: wrap;

		@media(max-width:800px) {
			padding-left: 0;
			padding-right: 0;
			gap: 15px;
			margin-bottom: 20px;
			flex-direction: column;
			align-items: flex-start;
		}

		h2,
		.h2 {
			margin-bottom: 0;
		}


	}

	&__slider-nav {
		margin-left: auto;
		display: flex;
		flex-direction: row;
		gap: 15px;

		button {
			width: 41px;
			height: 27px;
			display: block;
			border: 0 solid;
			background-color: transparent !important;

			svg {
				path {
					stroke: currentColor;
				}
			}

			&:hover {
				color: #106AC6;
			}

			&.swiper-button-disabled {
				color: #B2C2D3 !important
			}
		}


	}
}

.row-with-info {
	display: grid;
	grid-template-columns: auto 366px;
	gap: 15px;

	@media(max-width:900px) {
		grid-template-columns: 1fr;
	}

	&__info {
		background-color: $blue;
		color: #fff;
		background-position: left bottom;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='755' height='193' viewBox='0 0 755 193' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 22.943L5.08376 24.6667L12.3725 25.1719C12.3725 25.1719 18.8038 24.6667 23.275 26.0337C27.7463 27.4008 29.155 28.4112 33.6263 29.2731C38.0975 30.1349 48.7551 31.8289 48.7551 31.8289C48.7551 31.8289 59.0144 35.0683 64.9863 35.0683C70.9582 35.0683 72.4588 37.4458 78.4307 38.8426C84.4026 40.2394 90.8339 40.9526 93.8351 41.3984C96.8057 41.8442 107.279 45.8562 107.279 45.8562L114.844 51.7108L127.125 62.9149C127.125 62.9149 143.54 66.0948 148.776 66.5703C154.013 67.016 159.985 65.649 166.692 67.0161C173.399 68.3831 181.606 70.6417 188.344 71.1172C195.051 71.5928 201.972 67.2538 204.943 68.6209C207.913 69.9879 208.495 66.3028 215.202 67.5807C218.173 66.2137 219.857 67.5807 226.595 63.9253C233.301 60.2699 246.746 60.8345 246.746 60.8345L253.453 59.4675C260.16 58.1004 264.478 56.7928 268.949 56.8819C273.42 56.9711 275.656 57.5655 282.393 54.9799C289.1 52.3944 291.336 50.5815 298.808 49.6602C306.281 48.739 307.751 44.2811 317.459 46.0643C327.167 47.8474 324.166 44.2811 336.11 46.0643C348.054 47.8474 366.551 38.2185 371.788 38.159C377.025 38.0996 385.049 28.2329 392.49 26.8659C399.963 25.4988 404.434 18.0393 410.406 17.1181C416.378 16.1968 422.442 11.9767 429.149 10.6096C435.855 9.24257 444.063 15.8104 449.3 16.2562C454.537 16.702 449.484 19.6739 462.162 22.408C474.841 25.1422 480.905 29.4811 485.407 31.294C489.878 33.1068 492.879 36.4948 498.851 38.3076C504.823 40.1205 505.834 43.449 510.336 43.449C514.837 43.449 517.9 46.9855 526.842 48.4121C535.785 49.8386 532.416 52.2458 542.124 56.8819C551.832 61.5181 551.832 61.0723 557.804 62.8852C563.776 64.698 562.429 65.5004 571.249 66.065C587.664 66.5108 587.664 66.0651 600.373 66.5109C613.052 66.9566 606.713 61.845 618.656 58.6353C622.546 53.7317 624.475 50.0169 635.071 47.461C650.751 44.8161 648.148 41.0121 654.855 38.3374C661.562 35.6627 671.27 30.4024 675.741 29.8972C680.213 29.392 686.95 25.796 690.656 23.9534C694.392 22.1406 700.364 19.6145 704.835 17.8016C709.306 15.9887 713.043 10.461 716.044 8.91566C719.015 7.37028 727.62 15.543 735.093 13.7004C742.565 11.8876 751.14 18.7229 754.141 18.2474C757.112 17.8016 758.98 19.6145 761.246 17.8016C763.482 15.9887 766.055 17.5044 764.615 18.1582C772.823 14.5028 775.058 14.057 778.795 11.7687C782.531 9.48032 790.003 4.45783 790.003 4.45783C790.003 4.45783 791.504 0.356627 796.71 4.45783C801.947 8.55904 810.155 0 810.155 0L826.937 2.05059L841.117 5.58714C841.117 5.58714 852.693 10.045 856.429 12.7791C860.165 15.5132 859.032 11.8578 865.004 13.7004C870.976 15.5133 871.711 9.24257 873.947 8.91566C876.182 8.58876 882.889 5.61687 882.889 5.61687C882.889 5.61687 886.135 2.5261 889.872 4.01204C893.608 5.49799 892.23 5.40884 894.465 5.85462C896.701 6.30041 902.673 7.66748 904.909 7.66748C907.144 7.66748 912.381 7.22169 912.381 7.22169C912.381 7.22169 917.22 5.61687 921.722 5.61687C926.224 5.61687 930.297 1.96144 935.534 5.61687C940.77 9.27229 942.24 12.2442 946.742 14.057C951.214 15.8699 951.979 16.3454 957.951 17.7124C963.923 19.0795 960.187 19.0795 965.424 20.0008C970.66 20.9221 963.923 22.7349 983.339 23.1807C1002.76 23.6265 1009.46 22.7349 1013.2 23.6265C1016.93 24.5478 1010.96 22.7052 1016.93 24.5478C1022.91 26.3606 1034.85 28.649 1038.59 29.0948C1042.32 29.5406 1045.69 30.343 1045.69 30.343C1045.69 30.343 1050.53 29.392 1055.03 31.9775C1059.53 34.563 1054.3 32.2747 1059.5 34.563C1064.74 36.8514 1066.98 37.2972 1069.21 38.2185C1071.45 39.1398 1075 41.8739 1075 41.8739V185H0V22.8835V22.943Z' fill='white' fill-opacity='0.05'/%3E%3Cpath d='M776.07 85.9347L772.65 86.777L767.867 86.6918C767.867 86.6918 763.704 85.9913 760.705 86.6341C757.706 87.277 756.726 87.8607 753.758 88.1714C750.79 88.482 743.737 88.9856 743.737 88.9856C743.737 88.9856 736.85 90.5281 732.956 90.1861C729.062 89.8441 727.939 91.3215 723.96 91.898C719.98 92.4745 715.743 92.5752 713.759 92.6964C711.795 92.8195 704.721 94.8578 704.721 94.8578L699.432 98.2743L690.741 104.938C690.741 104.938 679.844 106.089 676.4 106.102C672.958 106.095 669.147 104.854 664.691 105.369C660.234 105.884 654.745 106.899 650.323 106.826C645.92 106.755 641.672 103.505 639.651 104.234C637.631 104.963 637.476 102.506 633.025 102.962C631.172 101.893 629.99 102.696 625.82 99.9063C621.669 97.1186 612.868 96.72 612.868 96.72L608.578 95.4369C604.288 94.1539 601.552 93.0468 598.632 92.8494C595.711 92.6519 594.217 92.9147 589.981 90.8288C585.765 88.7445 584.418 87.4245 579.602 86.3907C574.786 85.357 574.099 82.3415 567.66 82.9581C561.221 83.5746 563.395 81.4015 555.499 81.89C547.602 82.3785 536.128 74.9876 532.717 74.6487C529.305 74.3097 524.675 67.3623 519.906 66.0372C515.117 64.7103 512.656 59.5493 508.818 58.6015C504.98 57.6537 501.284 54.5315 496.994 53.2485C492.704 51.9655 486.952 55.8142 483.51 55.8074C480.068 55.8006 483.182 58.0442 474.748 59.116C466.314 60.1877 462.095 62.6936 459.049 63.6278C456.023 64.5638 453.86 66.6197 449.855 67.4698C445.851 68.3198 444.989 70.4506 442.053 70.1928C439.118 69.935 436.905 72.0851 430.987 72.511C425.07 72.9369 427.119 74.7127 420.506 77.2052C413.894 79.6978 413.921 79.4047 409.916 80.2547C405.912 81.1048 406.741 81.7096 400.956 81.5758C390.225 80.9289 390.252 80.6357 381.938 80.201C373.644 79.7681 378.089 76.7699 370.497 73.9754C368.259 70.5283 367.228 67.9751 360.474 65.6876C350.411 63.0504 352.341 60.6982 348.131 58.5553C343.92 56.4125 337.911 52.3976 335.026 51.8093C332.141 51.221 327.967 48.4706 325.663 47.0468C323.338 45.6408 319.598 43.6378 316.793 42.1897C313.988 40.7415 311.889 36.8928 310.026 35.7048C308.183 34.5185 302.073 39.3996 297.313 37.7601C292.551 36.1401 286.543 40.1437 284.615 39.6591C282.705 39.1959 281.377 40.2809 280.01 38.9591C278.662 37.639 276.893 38.4883 277.791 39.0007C272.662 36.127 271.232 35.7059 268.935 33.9872C266.638 32.2685 262.072 28.538 262.072 28.538C262.072 28.538 261.344 25.7553 257.699 28.1539C254.034 30.5508 249.204 24.4527 249.204 24.4527L238.136 24.84L228.675 26.3534C228.675 26.3534 220.855 28.6218 218.252 30.2057C215.649 31.7895 216.61 29.4508 212.604 30.3204C208.6 31.1704 208.503 27.005 207.065 26.662C205.627 26.319 201.435 23.9808 201.435 23.9808C201.435 23.9808 199.507 21.7625 196.98 22.5256C194.453 23.2888 195.357 23.3091 193.872 23.4742C192.387 23.6393 188.41 24.1962 186.952 24.0682C185.494 23.9401 182.107 23.3471 182.107 23.3471C182.107 23.3471 179.049 22.0147 176.114 21.7569C173.178 21.4991 170.745 18.8622 167.108 20.9659C163.47 23.0697 162.331 24.9397 159.285 25.8739C156.259 26.8099 155.73 27.0787 151.753 27.6357C147.776 28.1926 150.212 28.4066 146.741 28.7124C143.27 29.0183 147.553 30.5962 134.865 29.7774C122.178 28.9586 117.859 27.9883 115.368 28.3606C112.876 28.7524 116.882 27.8828 112.876 28.7524C108.871 29.6025 100.944 30.4232 98.4802 30.5024C96.0168 30.5815 93.7712 30.9162 93.7712 30.9162C93.7712 30.9162 90.6741 30.0138 87.581 31.4561C84.4879 32.8984 88.0422 31.6936 84.5079 32.9002C80.9537 34.105 79.4687 34.2701 77.9548 34.7479C76.4409 35.2257 73.9577 36.8201 73.9577 36.8201L65.2319 130.934L766.19 192.496L776.074 85.8956L776.07 85.9347Z' fill='white' fill-opacity='0.05'/%3E%3C/svg%3E%0A");

		&::before {
			display: block;
			content: '';
			margin-bottom: 20px;
			background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.15674 12.9985V7.85564H7.44245M7.44245 12.4271H10.871M9.00001 1C13.4183 1 17 4.58173 17 9C17 13.4183 13.4183 17 9 17C4.58173 17 1 13.4183 1 9C1 4.58173 4.58173 1 9.00001 1Z' stroke='white' stroke-width='1.4'/%3E%3Cpath d='M9.99992 4.99999C9.99992 5.55228 9.55221 5.99999 8.99992 5.99999C8.44764 5.99999 7.99992 5.55228 7.99992 4.99999C7.99992 4.44771 8.44764 3.99999 8.99992 3.99999C9.55221 3.99999 9.99992 4.44771 9.99992 4.99999Z' fill='white'/%3E%3C/svg%3E%0A");
			width: 18px;
			height: 18px;
		}

		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 200%;
			/* or */

			letter-spacing: -0.02em;
		}
	}
}

.page-top {
	min-height: 510px;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 30px;

	@media(max-width:890px) {
		padding: 15px;
		min-height: calc(100vh - 200px);
		margin-bottom: 15px !important;
	}

	&._big {
		min-height: 677px;
	}

	@media(max-width:890px) {
		min-height: calc(var(--vh, 1vh)*100 - 200px) !important;
	}

	@media(max-width:890px) {
		margin-top: 42px;
		justify-content: flex-end;
		overflow: visible;
	}

	h2,
	.h2 {
		color: #Fff;
		position: relative;
		z-index: 5;
		margin: 0px 0px 8px;
	}

	.stars {
		position: relative;
		z-index: 5;
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin-top: 8px;
		margin-bottom: 30px;

		@media(max-width:890px) {
			margin-bottom: auto
		}

		img {
			width: 14px;
			height: 14px;
		}
	}

	.breadcrumb {
		z-index: 5;
		position: relative;
		margin-bottom: auto;
		margin-top: 0;

		@media(max-width:890px) {
			position: absolute;
			top: -30px;
		}
	}

	h1,
	.h1 {
		color: #fff;
		position: relative;
		z-index: 6;
	}

	&__row {
		position: relative;
		z-index: 6;
		display: flex;
		flex-direction: row;
		gap: 30px;
		align-items: flex-end;

		@media(max-width:890px) {
			align-items: baseline;
			flex-direction: column;
		}
	}

	&__socs {
		color: #fff;
		margin-left: auto;

		&-list {
			display: flex;
			flex-direction: row;
			gap: 30px;
			align-items: center;
		}

		a {
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.2);
			}
		}

		span {
			font-size: 16px;
			line-height: 40px;
			letter-spacing: -0.02em;
		}
	}

	&__head {
		position: relative;
		z-index: 6;
		color: #fff;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		gap: 16px;
		margin-bottom: 32px;
	}

	&__label {
		border: 1.4px solid #FFFFFF;
		backdrop-filter: blur(50px);
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		/* identical to box height */
		text-transform: uppercase;
		letter-spacing: -0.02em;
		padding: 10px 19px 8px 20px;
		color: #FFFFFF;

		border-radius: 10px;
	}

	&__desc {
		position: relative;
		z-index: 6;
		color: #fff;
		margin-top: 15px;

		p {
			font-size: 20px;
			@include lh(30, 45);
			letter-spacing: -0.02em;
			font-weight: 300;

			.page-top._big {
				font-size: 30px;
			}

			@media(max-width:890px) {
				font-size: 14px !important;
				font-weight: 400 !important;
				line-height: 28px !important;
			}
		}
	}

	&__date {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		/* identical to box height */

		letter-spacing: -0.02em;

		color: #FFFFFF;
	}

	&__bg {
		z-index: 1;

		&::after {
			z-index: 3;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 50%;
			display: block;
			content: '';
			background: linear-gradient(0deg, rgba(42, 42, 41, 0.5) 0%, rgba(42, 42, 41, 0) 98.67%);
		}

		&::before {
			background: linear-gradient(180.14deg, rgba(0, 0, 0, 0) 31.99%, rgba(0, 0, 0, 0.5) 99.87%);
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			display: block;
			height: 100%;
			content: '';
			z-index: 2;
		}

		img {
			object-fit: cover;
		}
	}

	&__bg img,
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

}

.share {
	&__list {
		display: flex;
		flex-direction: row;
		gap: 30px;
		align-items: center;
	}

	&__title {
		font-size: 16px;
		line-height: 40px;
	}

	svg {
		path {
			fill: currentColor !important;
		}
	}

	a {
		transition: transform 0.3s;
		color: #B2C2D3;

		&:hover {
			transform: scale(1.2);
		}
	}
}

ol {
	list-style: decimal-leading-zero inside;

	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}

	li {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.page {
	overflow: hidden;
	padding-top: 110px;

	@media(max-width:890px) {
		padding-top: 75px;
	}
}

.table-responsive {
	overflow: auto;

	table {
		border-collapse: separate;
		border-spacing: 0 30px;
		min-width: 100%;
		td,

		th {
			text-align: left;
		}

		th {
			padding: 0;
			font-size: 16px;
			line-height: 19px;

			letter-spacing: -0.02em;
			text-transform: uppercase;
		}
	}
}

.page-title {
	margin-bottom: 30px;
}

.grid-row-2 {
	display: grid;
	grid-template-rows: 1fr 1fr;
}