.news-list-column {
	display: grid;
	gap: 15px;
	grid-template-columns: 1fr;

	@media(max-width:890px) {
		grid-template-columns: 1fr 1fr;
	}

	@media(max-width:650px) {
		grid-template-columns: 1fr;
	}
}

.news-list-row {
	display: grid;
	gap: 15px;
	margin-left: -15px;
	margin-right: -15px;
	grid-template-columns: 1fr 1fr 1fr;

	@media(max-width:890px) {
		grid-template-columns: 1fr 1fr;
	}

	@media(max-width:650px) {
		grid-template-columns: 1fr;
		margin-left: 0px;
		margin-right: 0px;
	}
}

.news-preview {
	padding: 15px;

	.news-list-row & {
		padding: 0;
		background: transparent;
	}

	&__row {
		gap: 60px;
		align-items: center;
		display: grid;
		grid-template-columns: 35% auto;

		.news-list-row & {
			gap: 20px;
			grid-template-columns: 1fr;
		}

		@media(max-width:890px) {
			gap: 20px;
			grid-template-columns: 1fr;
		}

	}

	&__photo-wrap {
		position: relative;
		overflow: hidden;
		min-height: 310px;

		@media(max-width:890px) {
			min-height: 189px;
		}

		&::after {
			z-index: 2;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: "";
			background: linear-gradient(180.14deg, rgba(0, 0, 0, 0) 31.99%, rgba(0, 0, 0, 0.5) 99.87%);
		}
	}

	&__photo {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s;

		.news-preview:hover & {
			transform: scale(1.04);
		}
	}

	&__label {
		position: absolute;
		left: 15px;
		bottom: 15px;
		padding: 10px 19px 8px 20px;
		z-index: 5;
		border-radius: 10px;
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;
		/* identical to box height */

		text-align: center;
		letter-spacing: -0.02em;
		text-transform: uppercase;

		color: #FFFFFF;
		border: 1px solid #fff;
		backdrop-filter: blur(10px);
	}

	&__date {
		position: absolute;
		right: 15px;
		bottom: 21px;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		/* identical to box height */

		text-align: right;
		letter-spacing: -0.02em;
		z-index: 5;
		color: #FFFFFF;
	}

	&__content {}

	&__title {
		color: $blue;

		.news-list-row & {
			font-weight: 500;
			font-size: 16px;
			line-height: 138%;
			/* or  */
			color: #2A2A29;

			letter-spacing: -0.02em;
			text-transform: uppercase;
		}

	}

	&__desc {
		margin-bottom: 30px;
		min-height: 36px;

		.news-list-row & {
			display: none;
		}

		@media(max-width:650px) {
			min-height: initial;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: -0.02em;
		text-decoration-line: underline;
		color: #2A2A29;
		text-underline-position: under;
		text-transform: uppercase;

		&::after {
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;

		}

		&:hover {
			text-decoration: none;


		}
	}

}