button {
	cursor: pointer;
}

.btn {
	background: linear-gradient(339.74deg, #1488CC -27.75%, #0C4DC1 144.6%);
	border-radius: 31px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -0.02em;
	padding: 10px 20px;
	border: 0 solid;
	display: inline-block;
	color: #FFFFFF;
	cursor: pointer;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		background: linear-gradient(339.74deg, #0C4DC1 -27.75%, #0C4DC1 144.6%);
	}
}

.btn2 {
	background: linear-gradient(339.74deg, #1488CC -27.75%, #0C4DC1 144.6%);
	border-radius: 10px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -0.02em;
	padding: 15px;
	border: 0 solid;
	display: inline-block;
	color: #FFFFFF;
	cursor: pointer;
	min-width: 165px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		background: linear-gradient(339.74deg, #0C4DC1 -27.75%, #0C4DC1 144.6%);
	}
}

.link-arrow {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: -0.02em;
	display: flex;
	flex-direction: row;
	gap: 10px;
	color: $black ;
	text-decoration: none;
	margin-top: 44px;
	transition: color 0.3s;

	&:hover {
		color: $blue
	}

	svg {
		position: relative;
		top: 2px;
		fill: currentColor;
		transition: fill 0.3s;
	}

	@media (max-width:890px) {
		font-weight: 500;
		font-size: 14px;
	}
}

.link-chevron {
	text-decoration: none;
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	color: $black;
	margin-bottom: 30px;

	&:hover {
		color: $blue
	}

	svg path {
		position: relative;
		top: 2px;
		stroke: currentColor !important;
		transition: stroke 0.3s;
	}
}

.form-item {
	position: relative;
	margin-bottom: 20px;
	display: block;

	&__label {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #B2C2D3;
		position: absolute;
		left: 20px;
		top: -5px;
		background: #fff;
		z-index: 3;
		padding-left: 5px;
		padding-right: 5px;
	}

	input,
	textarea,
	select {
		padding: 17px 20px;
		background: #FFFFFF;
		width: 100%;
		border: 1px solid #B2C2D3;
		border-radius: 10px;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;

		&::placeholder {
			color: #B2C2D3;
		}

		letter-spacing: -0.02em;
	}

	select {
		appearance: none;
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%23B2C2D3' stroke-width='1.4'/%3E%3C/svg%3E%0A");
		background-position: center right 20px;
		background-repeat: no-repeat;
	}
}

.form-bottom {
	margin-top: 22px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -0.02em;

	a {
		color: #2A2A29;

		&:hover {
			text-decoration: none;
		}
	}
}