.pmenu {
	position: fixed;
	left: 0;
	top: -300px;
	pointer-events: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: #F5F5F5;
	transition: opacity 0.3s, top 0.4s;



	@media(max-width:1200px) {
		.weather-block__temp {
			font-size: 20px;
			line-height: 23px;

			img {
				width: 23px;
				margin-right: 5px;
			}
		}

		.weather-block__feeling,
		.weather-block__dynamics {
			display: none;
		}

		.ihome {
			background: #fff;
		}

		.camera-tur__item-img {
			padding: 0;
			border: 0 solid;
			border-radius: 0;
			height: 26px;
		}

		.workload {
			height: 90px;
			min-width: 235px;
		}

		.workload__title {
			margin-top: 10px;
		}

		.workload__head {
			display: flex;
			padding-top: 16px;
			flex-direction: column-reverse;

		}

		.workload__body {
			opacity: 0;
			height: 1px;
			overflow: hidden;
		}

		.map-link__title,
		.ihome__date,
		.ihome__resort {
			display: none;
		}

		.map-link {
			padding: 0;
		}

		.map-link__icon {
			margin: 0;
		}

		.camera-tur,
		.pmenu__right .grid-2 {
			min-width: 255px;
			width: 255px;
		}


		.camera-tur__item,
		.ihome,
		.weather-block {
			min-width: 120px;
			width: 120px;
		}
	}



	&._zindex {
		z-index: 1000;
	}

	&._open {
		opacity: 1;
		pointer-events: all;
		top: 0;

	}

	&__title {
		font-weight: 400;
		font-size: 30px;
		line-height: 35px;
		letter-spacing: -0.02em;
		text-transform: uppercase;

		/* lasure */

		color: #106AC6;
		margin-bottom: 33px;
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 15px;



		._half {
			grid-column: 6 span;
		}

		._full {
			grid-column: 12 span;
		}

		._third {
			grid-column: 4 span;
		}
	}

	&__left {
		min-width: 0;
	}

	.swiper-slide {
		display: flex;
		flex-direction: column;
	}

	._f100 {
		flex: 1;
	}

	._h100 {
		height: 100%;
	}

	.workload {
		height: 152px;
	}

	.suvenirnye-magaziny {
		line-height: 0;
		display: block;
		max-height: 152px;

		a {
			line-height: 0;
			display: block;
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__right {
		grid-template-columns: 1fr;
		grid-template-rows: 200px 152px 152px auto;


		@media(max-width:890px) {
			margin-left: -15px;
			margin-right: -15px;

			&::before,
			&::after {
				display: block;
				content: '';
				width: 10px;
				height: 15px;
			}
		}

		@media(max-width:1200px) {
			height: 90px;
			grid-area: top;
			display: flex;
			flex-direction: row;
			gap: 15px;
			overflow: auto;



			&>* {
				min-width: 230px;
			}

			.skypass {
				min-height: initial;
			}

		}
	}

	&__flex {
		width: 100%;
		max-width: 1400px;
		position: absolute;
		height: calc(100% - 30px);
		top: 15px;
		padding-top: 114px;
		padding-bottom: 32px;
		left: 50%;
		background: #fff;
		transform: translateX(-50%);
		overflow: auto;

		@media(max-width:890px) {
			padding-top: 90px;
		}

		@media(max-width:1200px) {
			background: transparent;
		}
	}

	&__header {
		display: flex;
		padding-top: 20px;
		padding-bottom: 20px;
		flex-direction: row;
		position: absolute;
		top: 0;
		width: 100%;
		left: 0;

		@media(max-width:1200px) {
			margin-bottom: 15px;
		}
	}

	&__close {
		cursor: pointer;

		&:hover {
			svg path {
				stroke: $blue;
			}
		}
	}

	&__logo {
		margin-right: auto;
	}

	&__row {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 15px 50px;
		height: 100%;

		@media(max-width:1200px) {
			grid-template-columns: 1fr;
			grid-template-areas: 'top'
				'menu';

		}
	}
}

.camera-tur {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 14px;

	&__item {
		background: #FFFFFF;
		border: 1.4px solid #B2C2D3;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-items: center;
		justify-content: center;

		&-text {
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			/* identical to box height */
			color: #2A2A29;
			text-decoration: none;
			text-align: center;
			letter-spacing: -0.02em;
		}

		&-img {
			width: 66px;
			height: 66px;
			border: 1px solid #B2C2D3;
			margin-bottom: 17px;
			border-radius: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

.pmenu-main {

	width: 100%;
	display: flex;
	flex-direction: column;

	&__left-submenu {
		@media(min-width:890px) {
			display: none !important;
		}

		display: none;

		li {
			position: relative;
			padding-left: 35px;
			margin-bottom: 10px !important;
			line-height: 20px;

			svg {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 25px;
				height: 25px;

				path[stroke] {
					// transition: opacity 0.3s;

					// .pmenu-item:hover & {
					// 	stroke: #fff !important;
					// }

					stroke: $blue !important;
				}

				path[fill] {
					// transition: opacity 0.3s;

					// .pmenu-item:hover & {
					// 	fill: #fff !important;
					// }

					fill: $blue !important;
				}
			}
		}

		a {
			font-size: 12px !important;
			line-height: 167% !important;
			letter-spacing: -0.02em;
			font-weight: 500 !important;
			text-transform: uppercase;
			color: #2A2A29;
			text-decoration: none;

			&:hover {
				color: $blue
			}
		}
	}

	&__row-top {
		display: grid;
		grid-template-columns: auto 350px;
		gap: 15px;
		margin-bottom: auto;

		@media(max-width:890px) {
			grid-template-columns: 1fr;
			margin-bottom: 15px;
		}
	}

	&__row-bottom {
		height: 152px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;

		a {
			display: block;
			line-height: 0;
			overflow: hidden;
			border-radius: 15px;
		}

		img {
			height: 152px;
			width: 100%;
			object-fit: cover;
		}
	}

	&__left-menu {
		@media(max-width:890px) {
			background: #fff;
			border-radius: 10px;
			padding: 20px;
		}

		&>ul>li {
			margin-bottom: 26px;

			@media(max-width:1024px) {
				margin-bottom: 20px;
			}



			&:last-child {
				margin-bottom: 0;
			}
		}

		&>ul>li>a {
			text-decoration: none;
			font-weight: 400;
			font-size: 30px;
			@include lh(30, 35);
			letter-spacing: -0.02em;
			text-transform: uppercase;
			color: #2A2A29;
			transition: color 0.3s;

			@media(max-width:1024px) {
				font-size: 24px;

			}

			&::before {
				@media(max-width:890px) {
					display: none;
				}

				display: block;
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg width='42' height='28' viewBox='0 0 42 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.6923 26.3078L40 14.0001M40 14.0001L27.6923 1.69238M40 14.0001H0' stroke='%23106AC6' stroke-width='2'/%3E%3C/svg%3E%0A");
				background-position: center right;
				width: 0;
				transition: width 0.3s,
				margin 0.3s;
				height: 28px;
				display: inline-block;
			}

			&:hover {
				color: $blue;

				&::before {
					width: 42px;
					margin-right: 14px;
				}
			}
		}
	}

	&__right-menu {
		@media(max-width:890px) {
			background: #fff;
			border-radius: 10px;
			padding: 20px;
		}

		li {
			margin-bottom: 26px;
			position: relative;
			padding-left: 52px;

			@media(max-width:1024px) {
				margin-bottom: 15px;
			}

			@media(max-width:890px) {
				padding-left: 35px;
				margin-bottom: 12px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			img {
				position: absolute;
				left: 16px;
				top: 4px;
				object-fit: contain;

				@media(max-width:890px) {
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}

		a {
			text-decoration: none;
			font-weight: 500;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 143%;
			letter-spacing: -0.02em;
			color: #2A2A29;

			@media(max-width:890px) {
				font-size: 12px;
				line-height: 20px;
			}

			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}
}

.pmenu-item {
	background: #FFFFFF;
	/* grey */
	grid-column: 3 span;
	box-shadow: inset 0 0 0 1px #B2C2D3;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	position: relative;
	overflow: hidden;

	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		margin-top: 36px;
		text-align: center;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		text-decoration: none;
		color: #2A2A29;
		transition: color 0.3s;

		.pmenu-item:hover & {
			color: #fff !important;
		}
	}

	&__icon svg {
		path[stroke] {
			transition: opacity 0.3s;

			.pmenu-item:hover & {
				stroke: #fff !important;
			}

			stroke: $blue !important;
		}

		path[fill] {
			transition: opacity 0.3s;

			.pmenu-item:hover & {
				fill: #fff !important;
			}

			fill: $blue !important;
		}
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 0.3s;

		.pmenu-item:hover & {
			opacity: 1;
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}

		&::after {
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: linear-gradient(180deg, rgba(134, 157, 176, 0.4) 0%, rgba(198, 159, 158, 0.4) 100%);
			z-index: 2;
		}
	}
}

.pmenu-inner-slide {
	padding-left: 50px;
	position: relative;

	&__back {
		width: 49px;
		height: 74px;
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		background-color: #F3F8FB;
		border-radius: 0 50% 50% 0;
		cursor: pointer;

		&:hover {
			&::after {
				transform: scale(1.4);
			}
		}

		&::after {
			display: block;
			content: '';
			width: 12px;
			height: 22px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L1 11L11 21' stroke='%23106AC6' stroke-width='1.4'/%3E%3C/svg%3E%0A");
			transition: transform 0.3s;
			left: 50%;
			top: 50%;
			margin-left: -6px;
			margin-top: -11px;
			position: absolute;
		}
	}
}

.pmenu-slider {
	overflow: visible !important;
}