.pmenu
	.pmenu__flex._br._p-h
		.pmenu__header._p-h
			.pmenu__logo
				img(src="img/logo.svg", alt="")
			.pmenu__close
				<svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M49.3 25.5112C49.3 39.1377 38.4112 50.1672 25 50.1672C11.5888 50.1672 0.7 39.1377 0.7 25.5112C0.7 11.8848 11.5888 0.855273 25 0.855273C38.4112 0.855273 49.3 11.8848 49.3 25.5112Z" stroke="#2A2A29" stroke-width="1.4"/>
					<path d="M19 20L31 32M19 32L31 20" stroke="#2A2A29" stroke-width="1.4"/>
				</svg>
		.pmenu__row 
			.pmenu__left
				.pmenu-slider.swiper._h100
					.swiper-wrapper

						.swiper-slide
							.pmenu-main._f100
								.pmenu-main__row-top
									.pmenu-main__left-menu
										ul
											li
												a(href="#",data-pslide="1") Курорт
											//- li
											//- 	a(href="#",data-pslide="2") Горы
											li
												a(href="#",data-pslide="3") Проживание
											li
												a(href="#",data-pslide="4") услуги и Развлечения 
											li
												a(href="#",data-pslide="5") Рестораны и бары
											//- li
											//- 	a(href="#",data-pslide="6") MICE
											li
												a(href="#") Контакты
									.pmenu-main__right-menu
										ul
											li 
												a(href="#") 
													img(src="img/pm-1.svg", alt="")
													span ПРЕСС-центр
											//- li 
											//- 	a(href="#") 
											//- 		img(src="img/pm-2.svg", alt="")
											//- 		span Афиша
											li 
												a(href="#") 
													img(src="img/pm-3.svg", alt="")
													span Акции и спецпредложения
											//- li 
											//- 	a(href="#") 
											//- 		img(src="img/pm-4.svg", alt="")
											//- 		span Семейный отдых
											//- li 
											//- 	a(href="#") 
											//- 		img(src="img/pm-5.svg", alt="")
											//- 		span Для детей
											//- li 
											//- 	a(href="#") 
											//- 		img(src="img/pm-6.svg", alt="")
											//- 		span Пакетные предложения
											//- li 
											//- 	a(href="#") 
											//- 		img(src="img/pm-7.svg", alt="")
											//- 		span Программа лояльности
											//- li 
											//- 	a(href="#") 
											//- 		img(src="img/pm-8.svg", alt="")
											//- 		span свадьбы
							
								
			.pmenu__right.grid-1._br._gap-15
				
				.weather-block._br
					.weather-block__temp
						img(src="img/sun.svg", alt="")
						span -12
							sup o
							| C
					.weather-block__status Солнечно
					.weather-block__feeling Ощущается как -4
						sup о
					.weather-block__dynamics
						.weather-block__dynamics-negative -23
							sup o
						.weather-block__dynamics-positive -10
							sup o
		
				.skypass._br
					a(href="https://shop.mglk.ru/ru/Tickets") 
						img(src="img/skypass.jpg", alt="")
						span Купить абонемент

				!='<script>const periods = [{"type":"medium","start":"12:01","finish":"14:10"},{"type":"low","start":"9:00","finish":"12:00"},{"type":"high","start":"14:11","finish":"18:00"},{"type":"very-high","start":"18:01","finish":"19:59"}]</script>'
				.workload._br
					.workload__head 
						.workload__title Загруженность подъемников
						.workload__procent 
							span._low <50%
							span._medium >50%
							span._high 75-100%
							span._very-high 100% +
					.workload__body 
						
						input(type="text")#workload-slider-menu
						.workload__line
						ul.workload__legends
							li._low 0 - 50%
							li._medium 50 - 75%
							li._high 75 - 100%
							li._very-high 100% +
				.suvenirnye-magaziny._br
					a(href="https://manzherok.travel/ru/activity/suvenirnye-magaziny/") 
						+picture('mglk','jpg')
	