header.header 
	.inner
		.header__block._br._p-h
			.header__row
				.header__left.mob-hidden
					
					a.header__skypass(href="https://shop.mglk.ru/ru/Tickets") Купить Ski-pass

				a(href="/").header__logo
					img._desc(src="img/logo.svg", alt="")
					img._mob(src="img/logo-mob.svg", alt="")
				.header__right
					a.header__roombook.btn(href="#").mob-hidden Забронировать номер
					ul.header-icons.desc-hidden
						li 
							a(href="/").header-icons__link
								<svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5.2H21M3.14286 10.8H11.7143M14.5714 10.8H18.8571M1 2.4L1 13.6C1 14.3732 1.63959 15 2.42857 15L19.5714 15C20.3604 15 21 14.3732 21 13.6V2.4C21 1.6268 20.3604 1 19.5714 1L2.42857 1C1.63959 1 1 1.6268 1 2.4Z" stroke="" stroke-width="1.4"/>
								</svg>

								span Платежная инфомация
	
