header.header 
	.inner
		.header__block._br._p-h
			.header__row
				.header__left.mob-hidden
					.header__weather.header-weather
						.header-weather__snow._active
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M4.99839 6.0006L2.44217 7.496L0.415941 6.56571L0 7.48088L1.38279 8.11575L0.622179 8.56071L1.11722 9.42952L1.8777 8.98464L1.72895 10.5152L2.71911 10.6078L2.93709 8.36489L5.49451 6.86878V9.87642L3.68491 11.1901L4.27218 11.9994L5.49451 11.112V12H6.49431V11.112L7.71669 11.9994L8.30396 11.1901L6.49431 9.87637V6.87572L9.05744 8.37517L9.27544 10.6183L10.2656 10.5257L10.1168 8.99492L10.8775 9.4399L11.3725 8.57109L10.612 8.12617L11.9946 7.4914L11.5786 6.57623L9.55259 7.50642L6.97857 6.0006L9.54466 4.49942L11.5841 5.43576L12 4.52058L10.604 3.87967L11.3735 3.42952L10.8785 2.56071L10.1237 3.00225L10.271 1.48624L9.28089 1.39364L9.06433 3.622L6.49431 5.12548V2.13377L8.31559 0.811635L7.72832 0.00232974L6.49431 0.898145V0H5.49451V0.881228L4.28381 0.00232974L3.69654 0.811635L5.49451 2.11686V5.13242L2.94495 3.6409L2.72554 1.38325L1.73538 1.47584L1.88556 3.02116L1.11622 2.57109L0.621176 3.4399L1.37591 3.88142L0.00642457 4.51019L0.422366 5.42536L2.4353 4.50117L4.99839 6.0006Z" />
							</svg>

						.header-weather__clear
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M5.57143 1.28571V0H6.42857V1.28571H5.57143ZM7.98602 1.70306L8.62887 0.5896L9.37118 1.01817L8.72832 2.13163L7.98602 1.70306ZM6 9C7.65685 9 9 7.65685 9 6C9 4.34315 7.65685 3 6 3C4.34315 3 3 4.34315 3 6C3 7.65685 4.34315 9 6 9ZM6 9.85714C8.13024 9.85714 9.85714 8.13024 9.85714 6C9.85714 3.86976 8.13024 2.14286 6 2.14286C3.86976 2.14286 2.14286 3.86976 2.14286 6C2.14286 8.13024 3.86976 9.85714 6 9.85714ZM10.7143 5.57143H12V6.42857H10.7143V5.57143ZM10.9819 2.62885L9.86839 3.2717L10.297 4.01401L11.4104 3.37115L10.9819 2.62885ZM2.62885 1.01817L3.2717 2.13163L4.01401 1.70306L3.37115 0.5896L2.62885 1.01817ZM1.70303 4.01401L0.589574 3.37115L1.01814 2.62885L2.13161 3.2717L1.70303 4.01401ZM5.57143 10.7143V12H6.42857V10.7143H5.57143ZM1.28571 5.57143H0V6.42857H1.28571V5.57143ZM0.58955 8.62885L1.70301 7.98599L2.13158 8.7283L1.01812 9.37115L0.58955 8.62885ZM3.27173 9.86844L2.62887 10.9819L3.37118 11.4105L4.01404 10.297L3.27173 9.86844ZM8.62885 11.4105L7.98599 10.297L8.7283 9.86844L9.37115 10.9819L8.62885 11.4105ZM9.86842 8.7283L10.9819 9.37115L11.4104 8.62885L10.297 7.98599L9.86842 8.7283Z" />
							</svg>
					.header__lang.header-lang
						.header-lang__current RU 
						ul.header-lang__langs
							li
								a(href="/en") ENG
					.header__search
						a(href="#").header-search
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15 15L11 11M7 13C3.68629 13 1 10.3137 1 7C1 3.68629 3.68629 1 7 1C10.3137 1 13 3.68629 13 7C13 10.3137 10.3137 13 7 13Z" stroke="" stroke-width="1.4"/>
							</svg>
					button.header__roombook.btn Забронировать номер


				a(href="/").header__logo
					img._desc(src="img/logo.svg", alt="")
					img._mob(src="img/logo-mob.svg", alt="")
				.header__right
					a.header__ls(href="#") Личный кабинет
					ul.header-icons 
						li.mob-hidden
							a(href="/").header-icons__link
								<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8.13715 11.4987V6.99868H6.63715M6.63715 10.9987H9.63715M8 1C11.866 1 15 4.13401 15 8C15 11.866 11.866 15 8 15C4.13401 15 1 11.866 1 8C1 4.13401 4.13401 1 8 1Z" stroke="" stroke-width="1.4"/>
									<path d="M8.68901 4.81474C8.68901 5.20134 8.37561 5.51474 7.98901 5.51474C7.60241 5.51474 7.28901 5.20134 7.28901 4.81474C7.28901 4.42814 7.60241 4.11474 7.98901 4.11474C8.37561 4.11474 8.68901 4.42814 8.68901 4.81474Z" fill=""/>
								</svg>
								span Информация

						li 
							a(href="/").header-icons__link
								<svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5.2H21M3.14286 10.8H11.7143M14.5714 10.8H18.8571M1 2.4L1 13.6C1 14.3732 1.63959 15 2.42857 15L19.5714 15C20.3604 15 21 14.3732 21 13.6V2.4C21 1.6268 20.3604 1 19.5714 1L2.42857 1C1.63959 1 1 1.6268 1 2.4Z" stroke="" stroke-width="1.4"/>
								</svg>

								span Платежная инфомация
						li.desc-hidden
							a(href="/").header-icons__link
								<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9 3.99804C9 5.65396 7.657 6.99609 6 6.99609C4.343 6.99609 3 5.65396 3 3.99804C3 2.34212 4.343 1 6 1C7.657 1 9 2.34212 9 3.99804Z" stroke="" stroke-width="1.4"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M11 14.9909H1C1 14.2808 1 13.6053 1 12.9936C1 11.3368 2.34315 9.99414 4 9.99414H8C9.65685 9.99414 11 11.3368 11 12.9936C11 13.6053 11 14.2808 11 14.9909Z" stroke="" stroke-width="1.4"/>
								</svg>


						li.desc-hidden
							a(href="/").header-icons__link.pmenu-open
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 4.33333H12M0 1H12M0 7.66667H12M0 11H12" stroke="" stroke-width="1.4"/>
								</svg>


						li.mob-hidden 
							a(href="/").header-icons__link
								<svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M14.4016 7.93345C14.4016 4.39883 11.5362 1.53345 8.00156 1.53345C4.46694 1.53345 1.60156 4.39883 1.60156 7.93345C1.60156 10.72 3.38249 13.0907 5.86823 13.9693L4.80156 16.4668H9.06823H11.2016L10.1349 13.9693C12.6206 13.0907 14.4016 10.72 14.4016 7.93345Z" stroke="" stroke-width="1.4"/>
								</svg>

								span Вебкамеры
					button.header__burgrer.mob-hidden 
						<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 4.33333H12M0 1H12M0 7.66667H12M0 11H12" stroke="#106AC6" stroke-width="1.4"/>
						</svg>

